/*
   _____                    __ __                     __ ____                   __       __     _  __ __    __ _ 
  / ___/ ____ _ ____   ____/ // /_   ____   _  __   _/_// __/____   _____     _/_/_____ / /_   (_)/ // /  _/_/| |
  \__ \ / __ `// __ \ / __  // __ \ / __ \ | |/_/  / / / /_ / __ \ / ___/   _/_/ / ___// __ \ / // // / _/_/  / /
 ___/ // /_/ // / / // /_/ // /_/ // /_/ /_>  <   / / / __// /_/ // /     _/_/  / /__ / / / // // // /_/_/   / / 
/____/ \__,_//_/ /_/ \__,_//_.___/ \____//_/|_|  / / /_/   \____//_/     /_/    \___//_/ /_//_//_//_//_/   _/_/  
                                                 |_|                                                      /_/
Sandbox is a nice green/pink theme. This was actually the original "default" theme for WapLynx Neo, before user feedback prompted a change back to a dark theme.
*/
.topBoards a,
.innerPost,
.sideCatalogCell,
.catalogCell,
.floatingMenu,
#post-form-inner {
  background: #99c969;
}

a,
.unhideButton,
.embedButton,
#selectedTab,
#showFormsButton {
  color: #0084ff;
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="checkbox"],
button,
.dropzone,
.selectedCell {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  padding-left: 0.25em;
  font-size: 80%;
  font-family: "CozetteVector";
}

body{
  color: black;
  background: linear-gradient(135deg, rgba(230, 255, 205, 1) 30%, rgba(255, 182, 193, 1) 100%);
  font-family: "CozetteVector";
  font-size: 100%;
  margin: 0px;
}

.innerPost,
.markedPost {
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
  border: 1px solid black;
}

input,
select,
textarea {
  font-size: 100%;
}

.box {
  color: black;
  background-color: transparent;
}

.boxbar {
  text-align: left;
  background-color: #99c969;
}

.boardHeader p {
  color: black;
  text-shadow: 1px 1px 1px rgba(167, 170, 168, 0.6);
}
nav, .dropdown-content {
  background-color: #99c969;
}
.droptext {
  color: black;
}
