/*
    ____                 __       __ ____                   __ __ _  __      __ _ 
   / __ ) ____   ____   / /__   _/_// __/____   _____     _/_// /(_)/ /_   _/_/| |
  / __  |/ __ \ / __ \ / //_/  / / / /_ / __ \ / ___/   _/_/ / // // __/ _/_/  / /
 / /_/ // /_/ // /_/ // ,<    / / / __// /_/ // /     _/_/  / // // /_ _/_/   / / 
/_____/ \____/ \____//_/|_|  / / /_/   \____//_/     /_/   /_//_/ \__//_/   _/_/  
                             |_|                                           /_/
Book looks like a fancy paperback.
*/
a,
.unhideButton,
.embedButton,
#selectedTab,
#showFormsButton {
  color: black;
  cursor: pointer;
}

.leftmenu {
  display: none;
}

.logoImg {
  display: none;
}

.logoImgRumi {
  display: none;
}

.logoImgOld {
  display: none;
}

.logoText:before {
  content: "Wapchan.";
  font-size: 100px;
}
.topBoards a,
.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell,
.floatingMenu,
#post-form-inner,
.quoteTooltip,
.galleryText,
#postingForm th,
.modalTableBody th {
  background: transparent;
}

#quick-reply {
  background: white;
  border: 1px solid black;
}

body{
  font-family: 'PixelTimesNewRoman', "ArimoNerdFont";
  color: black;
  background-color: #FFFAE5;
}
.quoteTooltip {
  background-color: #FFFAE5;
}
nav, .dropdown-content {
  background-color: #f8f8f8;
}
.droptext {
  color: black;
}
input,
select,
textarea {
  font-family: 'PixelTimesNewRoman', 'ArimoNerdFont';;
  background-color: transparent;
  color: black;
}

.boxbar {
  background-color: transparent;
}

.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell {
  border: 1px solid black;
}

#post-form-inner,
.modalDecorationPanel,
.floatingMenu,
#settingsFieldset,
.reportFieldset {
  border: 1px dashed black;
  background: #f8f8f8;
}

.topBoards a,
#divLatestImages img,
#divLatestPosts .latestPostCell,
.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell {
  background-color: transparent;
}

.box {
  color: black;
  background-color: transparent;
}

.labelSubject {
  color: black;
}

.boardHeader p {
  color: black;
  text-shadow: 1px 1px 1px rgba(167, 170, 168, 0.6);
}
#randomQuote {
    color: black;
  }

#siteBoardTableLeft,
#siteBoardTableRight,
#imageList,
#divLatestPosts,
#siteBoardTable2 {
  background-color: transparent;
}
#siteBoardTable2 {
  border: 1px solid black;
  
}
input[type="button"],
input[type="submit"],
button,
.dropzone,
.selectedCell {
  background: transparent;
  color: black;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
  font-family: 'PixelTimesNewRoman', 'ArimoNerdFont';
}