/*
 _       __        __ __                                __ ____                   __                      __ _ 
| |     / /____ _ / // /__ ____ ___   ____ _ ____     _/_// __/____   _____     _/_/____ ___   __  __   _/_/| |
| | /| / // __ `// // //_// __ `__ \ / __ `// __ \   / / / /_ / __ \ / ___/   _/_/ / __ `__ \ / / / / _/_/  / /
| |/ |/ // /_/ // // ,<  / / / / / // /_/ // / / /  / / / __// /_/ // /     _/_/  / / / / / // /_/ /_/_/   / / 
|__/|__/ \__,_//_//_/|_|/_/ /_/ /_/ \__,_//_/ /_/  / / /_/   \____//_/     /_/   /_/ /_/ /_/ \__,_//_/   _/_/  
                                                   |_|                                                  /_/
Walkman is an 80s looking theme with a font resembiling the ones used in 70s/80s Sony print advertizing. 
*/
.boardHeader p {
  color: black;
  text-shadow: 1px 1px 1px rgba(167, 170, 168, 0.6);
}

body{
  font-family: 'Clarendon', "ArimoNerdFont";
  color: black;
  background: url("https://wapchan.org/.static/shapes-light.png");
}

.box,
#siteBoardTable1,
#siteBoardTable2 {
  background-color: #ffffff;
  color: black;
}
#randomQuote {
  color: black;
}
nav, .dropdown-content {
  background-color: #ffffff;
  color: black;
}
.boxbar {
  background-color: transparent;
}
.innerPost,
#postingForm th,
.markedPost {
  background: rgba(256, 256, 256, .75)
}
input,
select,
textarea {
  font-family: 'Clarendon', "ArimoNerdFont";
  background-color: rgba(256, 256, 256, .75);
  color: black;
}
.labelSubject {
  color: rgb(0, 64, 255);
}
.noEmailName,
.noEmailName:hover {
  color: rgb(188, 3, 255);
}
a,
.unhideButton,
.embedButton,
#selectedTab,
#showFormsButton {
  color: rgb(0, 64, 255);
}
#siteBoardTable2 {
  border-spacing: 0px;
  width: 100%;
  border: 2px solid;
  background-color: rgba(256, 256, 256, .75);
}
#siteBoardTableLeft,
#siteBoardTableRight,
#imageList {
  background-color: transparent;
}
input[type=button],
input[type=submit],
input[type=checkbox],
button,
.dropzone,
.selectedCell {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  padding-left: 0.25em;
  font-size: 80%;
  font-family: 'Clarendon', "ArimoNerdFont";
}
.topBoards a,
.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell,
.floatingMenu,
#post-form-inner,
.galleryText {
  background-color: rgba(256, 256, 256, 1);
}