/*
   _____                     __       __      __ ____                   __ __   __        __ _ 
  / ___/ _____ ____ _ _____ / /___   / /_   _/_// __/____   _____     _/_// /_ / /_     _/_/| |
  \__ \ / ___// __ `// ___// // _ \ / __/  / / / /_ / __ \ / ___/   _/_/ / __// __ \  _/_/  / /
 ___/ // /__ / /_/ // /   / //  __// /_   / / / __// /_/ // /     _/_/  / /_ / / / /_/_/   / / 
/____/ \___/ \__,_//_/   /_/ \___/ \__/  / / /_/   \____//_/     /_/    \__//_/ /_//_/   _/_/  
                                         |_|                                            /_/
Scarlet features PC-98 Touhou art and the font of Touhou 6: the Embodiment of Scarlet Devil.
*/
.leftmenu {
  display: none;
}

.logoImg,
.logoImgRumi,
.logoImgOld {
  display: none;
}

.logoText:before {
  content: "Wapchan!";
  font-size: 100px;
}

body{
  background: url("https://wapchan.org/.static/tou4.png");
  color: white;
  font-family: 'DFPOCOC', "ArimoNerdFont";
}

.box {
  color: white;
}

a:link {
  color: #f5deb3;
}

a:visited {
  color: #c4b18f;
}

.boardHeader p {
  color: white;
}

nav, .dropdown-content {
  background-color: #010101;
  border-bottom: 1px solid white;
}
.droptext {
  color: white;
}
select {
  font-family: 'DFPOCOC', "ArimoNerdFont";
}

.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell {
  border: 1px solid white;
}

.topBoards a,
#divLatestImages img,
#divLatestPosts .latestPostCell,
.innerPost,
.sideCatalogCell,
.markedPost,
.sideCatalogMarkedCell,
.catalogCell {
  background-color: rgba(1, 1, 1, .6);
}

input,
select,
textarea {
  font-family: 'DFPOCOC', "ArimoNerdFont";
  background-color: rgba(1, 1, 1, .6);
  color: white;
  border: 1px solid white;
}

.quoteTooltip {
  background-color: rgba(1, 1, 1, 1);
}

.labelSubject {
  color: #89CFF0;
}

.noEmailName,
.noEmailName:hover {
  color: #90EE90;
}

#postingForm th,
.modalTableBody th {
  background: transparent;
  border: 1px solid white;
}

input[type=button],
input[type=submit],
button,
.dropzone,
.selectedCell {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
}

.boxbar {
  text-align: left;
  background-color: transparent;
}

.boxbar p {
  margin-top: 5px;
}

.box {
  background-color: rgba(1, 1, 1, .6);
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

a,
.theme_th,
.unhideButton,
.embedButton,
#selectedTab,
#showFormsButton {
  color: #30C8FF;
}

#siteBoardTable2 {
  background-color: rgba(1, 1, 1, .6);
}

.labelSubject {
  color: #FF1100;
}

.floatingMenu,
#quick-reply table {
  background: #010101;
  border: 1px solid white;
}
#randomQuote {
  color: white;
}