<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
    src="/.static/404box.png"
    alt="ran"
    width="229"
    height="224"/>
  <div id="errorPage">
  <h1><span class="greenText">&gt;mfw 404</span></h1>
    <p>Sorry, Ran-chan couldn't find what you were looking for :(</p>
  </div>
  </header>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
