<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Bypass</legend>

      <h3>Warning: Block bypasses require cookies to work</h3>
      <p>
        <span id="indicatorValidBypass">You have a valid block bypass.</span>
      </p>
      <form
        id="renewForm"
        action="/renewBypass.js"
        enctype="multipart/form-data"
        method="post">
        <hr />
        <h3>Renew bypass</h3>

        <div class="captchaDiv">

          <img
            class="captchaImage"
            id="captchaImage"
            src="/captcha.js">
          <br>
          <input
            type="button"
            class="hidden"
            id="reloadCaptchaButton"
            onclick="reloadCaptcha()"
            value="Reload">
          <span class="captchaTimer"></span>
          <br>
          <input
            name="captcha"
            type="text"
            id="fieldCaptcha"
            placeholder="Answer">
          <a
            href="/noCookieCaptcha.js"
            class="small">no cookies?</a>
          <br>
          <input
            type="submit"
            id="bypassFormButton"
            value="Renew block bypass">
          <input
            type="button"
            id="bypassJsButton"
            onclick="blockBypass()"
            value="Renew block bypass"
            class="hidden">
        </div>
      </form>
    </fieldset>
  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/bypass.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/themes.js"></script>

</html>
