<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/catalog.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <p id="catalogId">
    <span class="title">Catalog of </span>
    <a
      href="."
      id="labelBoard"></a>
  </p>


  <div id="postingForm">
    <button
      id="togglePosting"
      class="hidden">Post thread</button>
    <fieldset id="newPostFieldset">
      <legend>Mode: Thread</legend>

      <form
        class="form-post"
        action="/newThread.js"
        enctype="multipart/form-data"
        method="post">

        <div id="postBox">

          <div
            id="divName"
            class="wider">
            <input
              type="text"
              id="fieldName"
              name="name"
              placeholder="Name">
          </div>

          <div class="wider">
            <input
              type="text"
              id="fieldEmail"
              name="email"
              placeholder="E-mail">
          </div>

          <div class="wider">
            <input
              type="text"
              id="fieldSubject"
              name="subject"
              placeholder="Subject">
          </div>

          <div>
            <textarea
              id="fieldMessage"
              name="message"
              placeholder="Message"></textarea>
          </div>

          <div class="wider">

            <input
              type="text"
              name="password"
              id="fieldPostingPassword"
              placeholder="Password">
          </div>

          <div id="flagsDiv">
            <select
              name="flag"
              id="flagCombobox">
            </select>
          </div>

          <div id="divUpload">
            <div
              class="hidden"
              id="dragAndDropDiv">
              <div
                class="dropzone"
                id="dropzone">
                Drag files to upload or
                <br>
                click here to select them
              </div>
              <div id="selectedDiv"></div>
            </div>

            <div>
              <input
                type="file"
                name="files"
                id="files"
                multiple
                class="fileBrowser">
            </div>

            <div>
              <input
                type="checkbox"
                name="spoiler"
                id="checkboxSpoiler">

              <label for="checkboxSpoiler">Spoiler</label>
            </div>

            <p class="small">
              Max file size: <span id="labelMaxFileSize"></span>
            </p>
            <p class="small">
              Max files: <span id="labelMaxFiles"></span>
            </p>
          </div>

        </div>

        <div id="captchaDiv">

          <img
            class="captchaImage"
            src="/captcha.js"
            id="captchaImage" />

          <div class="subCaptchaDiv">
            <input
              type="button"
              onClick="reloadCaptcha()"
              value="Reload"
              id="reloadCaptchaButton"
              class="hidden">
            <span class="captchaTimer"></span>
            <br>

            <input
              name="captcha"
              type="text"
              class="captchaField"
              id="fieldCaptcha"
              placeholder="answer">

            <a
              href="/noCookieCaptcha.js"
              class="small">no cookies?</a>

          </div>

        </div>

        <button
          type="submit"
          id="formButton">Post</button>

        <button
          type="button"
          onClick="postThread()"
          id="jsButton"
          class="hidden">Post</button>

        <input
          type="hidden"
          name="boardUri"
          id="boardIdentifier">

        <p class="small">
          Remember to follow the
          <a
            href="rules.html"
            class="rules">rules</a>
        </p>
        <p class="small">
          Max message length: <span id="labelMessageLength"></span>
        </p>

      </form>

    </fieldset>

  </div>

  <div
    id="divTools"
    class="hidden">

    <span class="catalogLabel">Search :</span>
    <input
      type="text"
      id="catalogSearchField">

  </div>

  <div
    id="divThreads"
    class="catalogDiv"></div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/crypt.js"></script>
<script src="/.static/js/upload.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/catalog.js"></script>
<script src="/.static/js/themes.js"></script>

</html>