<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Edit</legend>
      <p>
        Max message length: <span id="labelMessageLength"></span>
      </p>
      <form
        action="/saveEdit.js"
        method="post"
        enctype="multipart/form-data">
        <br>
        <input
          type="text"
          placeholder="Subject"
          id="fieldSubject"
          name="subject">
        <textarea
          name="message"
          id="fieldMessage"
          class="wide"></textarea>
        <input
          type="hidden"
          name="boardUri"
          id="boardIdentifier">
        <input
          type="hidden"
          name="threadId"
          id="threadIdentifier">
        <input
          type="hidden"
          name="postId"
          id="postIdentifier">
        <input
          type="submit"
          id="saveFormButton"
          value="Save">
        <input
          class="hidden"
          onclick="save()"
          type="button"
          id="saveJsButton"
          value="Save">
      </form>

    </fieldset>

  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/edit.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
