<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">
    <fieldset id="settingsFieldset">
      <legend>Global Settings</legend>

      <form
        action="/saveGlobalSettings.js"
        enctype="multipart/form-data"
        method="post">

        <p class="title">HTTP settings</p>
        <label>
          Address<sup>2</sup>:
          <input
            type="text"
            name="address"
            id="fieldAddress">
        </label>
        <label>
          Port<sup>2</sup>:
          <input
            type="text"
            name="port"
            id="fieldPort">
        </label>
        <label>
          Tor Port<sup>2</sup>:
          <input
            type="text"
            name="torPort"
            id="fieldTorPort">
        </label>
        <label>
          SSL key passphrase:
          <input
            type="password"
            name="sslPass"
            id="fieldSslPass">
        </label>
        <label>
          CSP directives (e.g: "default-src 'self'", without the quotations):
          <input
            type="text"
            name="CSP"
            id="fieldCSP">
        </label>
        <label>
          Maximum size for requests (MB):
          <input
            type="text"
            name="maxRequestSizeMB"
            id="fieldMaxRequestSize">
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxDisable304"
            name="disable304">
          Disable http response 304 (Only turn on if you know what you are
          doing, will consume lots more of bandwidth)
        </label>
        <label>
          SSL<sup>2</sup> (Make sure you have the proper files)
          <select
            id="comboSsl"
            name="ssl">
          </select>
        </label>
        <hr>

        <p class="title">System settings</p>
        <label>
          Master Ip:
          <input
            type="text"
            name="master"
            id="fieldMaster">
        </label>
        <label>
          Slaves ips<sup>1</sup>:
          <input
            type="text"
            name="slaves"
            id="fieldSlaves">
        </label>
        <label>
          Front-end directory:
          <input
            type="text"
            name="fePath"
            id="fieldFePath">
        </label>
        <label>
          Url for the list of TOR exit node ips:
          <input
            type="text"
            name="torSource"
            id="fieldTorSource">
        </label>
        <label>
          Url for the list of spammer ips(Requirements for the file format are
          specified on src/be/readme):
          <input
            type="text"
            name="spamIpsSource"
            id="fieldSpamIpsSource">
        </label>
        <label>
          Url for the list of incremental spammer ips(Requirements for the file
          format are specified on src/be/readme):
          <input
            type="text"
            name="incSpamIpsSource"
            id="fieldIncrementalSpamIpsSource">
        </label>
        <label>
          Path to an optional language pack:
          <input
            type="text"
            name="languagePackPath"
            id="fieldLanguagePack">
        </label>
        <label>
          Extension used for thumbnails (Will make all gif thumbs do not
          animate):
          <input
            type="text"
            id="fieldThumbExtension"
            name="thumbExtension">
        </label>
        <label>
          Temporary directory:
          <input
            type="text"
            name="tempDirectory"
            id="fieldTempDir">
        </label>

        <hr>
        <p class="title">Posting settings</p>
        <label>
          Character limit for messages:
          <input
            type="text"
            name="messageLength"
            id="fieldMessageLength">
        </label>
        <label>
          Maximum size for uploaded files (MB):
          <input
            type="text"
            name="maxFileSizeMB"
            id="fieldMaxFileSize">
        </label>
        <label>
          Allowed mime-types<sup>1</sup>:
          <input
            type="text"
            name="acceptedMimes"
            id="fieldAcceptedMimes">
        </label>
        <label>
          Maximum number of uploaded files on posting:
          <input
            type="text"
            name="maxFiles"
            id="fieldMaxFiles">
        </label>
        <label>
          Minimum amount of seconds between posts from the same ip:
          <input
            type="text"
            name="floodTimerSec"
            id="fieldFloodInterval">
        </label>
        <label>
          How many posts a block bypass allows:
          <input
            type="text"
            name="bypassMaxPosts"
            id="fieldBypassPosts">
        </label>
        <label>
          How many hours a block bypass lasts:
          <input
            type="text"
            name="bypassDurationHours"
            id="fieldBypassHours">
        </label>
        <label>
          Default anonymous name:
          <input
            type="text"
            name="defaultAnonymousName"
            id="fieldAnonymousName">
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxDisableFloodCheck"
            name="disableFloodCheck">
          Disable flood checks
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxGlobalCaptcha"
            name="forceCaptcha">
          Forces all boards to use captcha
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxDisableCatalogPosting"
            name="disableCatalogPosting">
          Disable thread creation from catalog
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxAllowTorFiles"
            name="allowTorFiles">
          Allow TOR users to post files
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxDisableSpamCheck"
            name="disableSpamCheck">
          Disable check on spammer ips (Use it if you can't obtain the spam ip
          list, so users are still able to post)
        </label>
        <label>
          TOR posting permission level:
          <select
            id="comboTorPostingLevel"
            name="torPostingLevel">
          </select>
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxSpamBypass"
            name="allowSpamBypass">
          Allow ips caught on the spammer list to use the block bypass if block
          bypass is not disabled
        </label>
        <label>
          Bypass mode:
          <select
            id="comboBypassMode"
            name="bypassMode">
          </select>
        </label>

        <hr>

        <p class="title">Display Limits</p>
        <label>
          Amount of latest posts to show on front-page:
          <input
            type="text"
            name="globalLatestPosts"
            id="fieldGlobalLatestPosts">
        </label>
        <label>
          Amount of latest images to show on front-page:
          <input
            type="text"
            name="globalLatestImages"
            id="fieldGlobalLatestImages">
        </label>
        <label>
          Amount of threads on the multi-board:
          <input
            type="text"
            name="multiboardThreadCount"
            id="fieldMultiBoardThreadCount">
        </label>
        <label>
          Number of preview posts:
          <input
            type="text"
            name="latestPostCount"
            id="fieldLatestPostsCount">
        </label>
        <label>
          Maximum amount of threads per board:
          <input
            type="text"
            name="maxThreadCount"
            id="fieldThreadLimit">
        </label>
        <label>
          Boards page size:
          <input
            type="text"
            name="pageSize"
            id="fieldPageSize">
        </label>
        <label>
          Amount of boards to be picked as top boards:
          <input
            type="text"
            name="topBoardsCount"
            id="fieldTopBoardsCount">
        </label>
        <label>
          Maximum amount of boards per page on boards list:
          <input
            type="text"
            name="boardsPerPage"
            id="fieldBoardsPerPage">
        </label>
        <label>
          Amount of threads on the overboard:
          <input
            type="text"
            name="overBoardThreadCount"
            id="fieldOverBoardThreads">
        </label>
        <label>
          Size of media management pages:
          <input
            type="text"
            name="mediaPageSize"
            id="fieldMediaPageSize">
        </label>

        <hr>
        <p class="title">Board limits</p>
        <label>
          Maximum size for flags (KB):
          <input
            type="text"
            name="maxFlagSizeKB"
            id="fieldMaxFlagSize">
        </label>
        <label>
          Maximum number of rules in boards:
          <input
            type="text"
            name="maxBoardRules"
            id="fieldMaxRules">
        </label>
        <label>
          Maximum number of filters in boards:
          <input
            type="text"
            name="maxFilters"
            id="fieldMaxFilters">
        </label>
        <label>
          Maximum number of tags per board:
          <input
            type="text"
            name="maxBoardTags"
            id="fieldMaxTags">
        </label>
        <label>
          Maximum number of volunteers in boards:
          <input
            type="text"
            name="maxBoardVolunteers"
            id="fieldMaxVolunteers">
        </label>
        <label>
          Maximum size for banners (KB):
          <input
            type="text"
            name="maxBannerSizeKB"
            id="fieldMaxBannerSize">
        </label>
        <hr>

        <p class="title">Variables</p>
        <label>
          Amount of days before removing ips from posts (any value below 1 or
          null means to never remove):
          <input
            type="text"
            name="ipExpirationDays"
            id="fieldIpExpiration">
        </label>
        <label>
          Number of replies before a thread enters auto-sage:
          <input
            type="text"
            name="autoSageLimit"
            id="fieldAutoSageLimit">
        </label>
        Maximum size for custom flag names:
        <label>
          <input
            type="text"
            name=flagNameLength
            id="fieldFlagNameLength">
        </label>
        <label>
          Mark accounts after these many days of inactivity<sup>2</sup>:
          <input
            type="text"
            name="inactivityThreshold"
            id="fieldInactivityThreshold">
        </label>
        <label>
          Maximum dimension for thumbnails, for both height and width:
          <input
            type="text"
            name="thumbSize"
            id="fieldThumbSize">
        </label>
        <label>
          Sender address for automated e-mails:
          <input
            type="text"
            name="emailSender"
            id="fieldSenderEmail">
        </label>
        <label>
          Amount of minutes before a captcha expires:
          <input
            type="text"
            name="captchaExpiration"
            id="fieldCaptchaExpiration">
        </label>
        <label>
          Site title:
          <input
            type="text"
            name="siteTitle"
            id="fieldSiteTitle">
        </label>
        <label>
          Default ban message to be displayed on banned posts:
          <input
            type="text"
            name="defaultBanMessage"
            id="fieldBanMessage">
        </label>
        <label>
          RSS link domain:
          <input
            type="text"
            name="rssDomain"
            id="fieldRssDomain">
        </label>
        <label>
          Maximum amount of concurrent rebuild messages(Increase if your site's
          pages are taking too long to update):
          <input
            type="text"
            name="concurrentRebuildMessages"
            id="fieldConcurrentRebuildMessages">
        </label>
        <label>
          Overboard uri:
          <input
            type="text"
            name="overboard"
            id="fieldOverboard">
        </label>
        <label>
          SFW overboard uri:
          <input
            type="text"
            name="sfwOverboard"
            id="fieldSfwOverboard">
        </label>

        <hr>
        <p class="title">Misc</p>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseApis"
            name="verboseApis">
          Verbose APIs mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxPreemptiveCaching"
            name="preemptiveCaching">
          Use preemptive caching
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseStatic"
            name="verboseStatic">
          Verbose static serving mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseGridfs"
            name="verboseGridfs">
          Verbose gridfs mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseQueue"
            name="verboseQueue">
          Verbose message queue mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseMisc"
            name="verboseMisc">
          Verbose miscellaneous mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerboseGenerator"
            name="verboseGenerator">
          Verbose generator mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxVerbose"
            name="verbose">
          Full verbose mode
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxUseAlternativeLanguages"
            name="useAlternativeLanguages">
          Use alternative languages
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxBlockedReport"
            name="allowBlockedToReport">
          Allow blocked or banned users to report
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxFfmpegGifs"
            name="ffmpegGifs">
          Use ffmpeg to generate animated gif thumbnails (requires ffmpeg
          installed)
        </label>
        <label>
          Addons<sup>1</sup>,<sup>2</sup>(They will be loaded in the order they
          appear in this list):
          <input
            type="text"
            name="addons"
            id="fieldAddons">
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxGlobalBoardModeration"
            name="allowGlobalBoardModeration">
          Allow global staff to moderate boards
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxGlobalBanners"
            name="useGlobalBanners">
          Make boards use global banners
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxAllowCustomJs"
            name="allowBoardCustomJs">
          Allow board custom javascript
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxMediaThumb"
            name="mediaThumb">
          Generate thumbnails from media files (requires ffmpeg installed)
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxFrontPageStats"
            name="frontPageStats">
          Display total post count and total unique ips on front-page
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxAutoPruneFiles"
            name="autoPruneFiles">
          Prune orphaned files weekly<sup>2</sup>
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxMaintenance"
            name="maintenance">
          Maintenance mode (Disables input to the server and let users know it
          is under maintenance)
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxDisableAccountCreation"
            name="disableAccountCreation">
          Disable account creation
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxSFWLatestImages"
            name="onlySfwLatestImages">
          Display only SFW images on the front-page
        </label>
        <label>
          <input
            type="checkbox"
            id="checkboxMultipleReports"
            name="multipleReports">
          Allow multiple reports at once
        </label>
        <label>
          Minimum global role for users to be able to see poster's clear ips:
          <select
            id="comboMinClearIpRole"
            name="clearIpMinRole">
          </select>
        </label>
        <label>
          Minimum global role required for board creation:
          <select
            id="comboBoardCreationRequirement"
            name="boardCreationRequirement">
          </select>
        </label>
        <input
          type="submit"
          value="Save"
          id="saveFormButton">

        <input
          id="saveJSButton"
          type="button"
          value="Save"
          onclick="save()"
          class="hidden">

      </form>
      <br>
      <p>
        <sup>1</sup>: Separate values by commas, spaces will be ignored (a,b,c)
      </p>
      <p>
        <sup>2</sup>: Requires server restart
      </p>
      <p>
        Those settings are all explained
        <a href="https://gitgud.io/LynxChan/LynxChan/tree/master/src/be">here</a>
      </p>
    </fieldset>



  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/globalSettings.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
