<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Hash Bans</legend>

      <form
        action="/placeHashBan.js"
        method="post"
        enctype="multipart/form-data">
        <label>
          Hash of the file to be banned:
          <input
            type="text"
            name="hash"
            id="hashField">
        </label>
        <input
          id="boardIdentifier"
          type="hidden"
          name="boardUri">

        <div class="captchaDiv">

          <img
            class="captchaImage"
            id="captchaImage"
            src="/captcha.js">
          <div>
            <input
              type="button"
              class="hidden"
              id="reloadCaptchaButton"
              onclick="reloadCaptcha()"
              value="Reload">
            <span class="captchaTimer"></span>
            <br>
            <input
              name="captcha"
              type="text"
              id="fieldCaptcha"
              placeholder="Answer">
            <a
              class="small"
              href="/noCookieCaptcha.js">No cookies?</a>
          </div>

        </div>
        <input
          type="submit"
          id="createFormButton"
          value="Place Hash Ban">
        <input
          type="button"
          id="createJsButton"
          onClick="placeHashBan()"
          class="hidden"
          value="Place Hash Ban">
      </form>
      <div id="hashBansDiv"></div>
    </fieldset>
  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/hashBans.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/themes.js"></script>

</html>
