<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="/.static/favicon.ico">
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>
    <table width="100%" height="100%">
      <tr>
          <td class="leftmenu" valign="top">
              <u><p style="margin-top: 10px;margin-bottom: 10px;">Boards</p></u>
              <p>
                <a href="/ran">/ran/ - Ran's World</a><br><br>>
              </p>
              <!--<u><p style="margin-top: 10px;margin-bottom: 10px;">Sitewide Stats</p></u>
              <p>
                <span id="labelTotalPosts"></span> posts across <span id="labelTotalBoards"></span> boards<br><br>
                <span id="labelTotalFiles"></span> files totaling <span id="labelTotalSize"></span><br><br>
              </p>-->
              <p>
                <u>Note</u>: These boards may or may not be worksafe. All users give up their right to a worksafe enviroment when entering these boards... you have been warned.</p>         
          </td>
          <td class="rightbody" valign="top">
            <div id="indexWrapper">
              <div
              id="logoBox"
              class="title">
                <img
                src="/.static/logo.png"
                class="logoImg"
                alt="logo" />
                <img
                src="/.static/rumilogo.png"
                class="logoImgRumi"
                alt="logo" />
                <img
                src="/.static/oldlogo.png"
                class="logoImgOld"
                alt="logo" />
              <p class="logoText" title="wapanese channel"></p>
              <p id="randomQuote" title="click me!"></p>
              <br><br>
              <span class="linkGroup">
                <span class="linkBarrierStart"></span>
                <a
                  href="/.static/pages/about.html"
                  id="linkAbout">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/rules.html"
                  id="linkRules">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/banners.html"
                  id="linkBanners">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/emotes.html"
                  id="linkEmotes">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="https://cytu.be/r/wapstreams"
                  id="linkCinema">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/links.html"
                  id="linkLinks">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/frames.html"
                  id="linkFrames">
                </a>
                <span class="linkBarrierDivider"></span>
                <a
                  href="/.static/pages/staffapply.html"
                  id="linkStaffApply">
                </a>
                <span class="linkBarrierEnd"></span>
              </span>
              <br><br>
              <div class="box">
                <div class="boxbar" id="newsBox">
                  <p class="newsHeader"></p>
                </div>
                <div class="boxcontent">
                  <p id="annoTitle">Loading...
                  </p>
                  <p style="display: flex;margin-left: 20px;
                  margin-right: 20px;">
                    <span id="annoMessage"></span>
                      <img id="annoImage" style="width:auto;height:200px;margin-left:auto;"></p>
                  <a id="annoLink"></a>
                </div>
              </div>
              <div class="box">
                <div class="boxbar">
                  <p>Hello!</p>
                </div>
                <div class="boxcontent" id="descBox">
                  <p style="color: #af4b69;">Welcome to RANchan. Ran is love. Ran is life.<br>All other boards are LOCKED. This is a RAN-CHAN zone now. Support RAN-CHAN.
                  </p>
                </div>
              </div>
              <div class="box" id="siteBoardBox">
                <div class="boxbar" id="specialBoxBar">
                  <p>Boards & Stats</p>
                </div>
                <div class="boxcontent">
                  <table id="siteBoardTable1">
                    <tr>
                      <td class="siteBoardBody Left"><a href="/ran">/ran/ - Ran's World</a></td>
                      <td class="siteBoardBody TableRight"><span id="labelTotalFiles"></span> files totaling <span id="labelTotalSize"></span></td>
                    </tr>
                  </table>
                </div>
              </div>
              </div>

              <table id="siteBoardTable2">
                <tr>
                  <th id="siteBoardTableLeft">Visual Rans</th>
                  <th id="siteBoardTableRight">Textual Rans</th>
                </tr>
                <tr>
                  <td id="imageList"><div id="divLatestImages"></div></td>
                  <td><div id="divLatestPosts"></div></td>
                </tr>
              </table>
              <div class="box">
                <div class="boxbar">
                  <p>Scribble Rans
                  </p>
                </div>
                <div class="boxcontent">
                  <div class="doodlebox">
                  </div>
                </div>
              </div>
            </div>  
          </td>
        </tr>
</table>
    
<footer id="dynamicFooter">
</footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/randomFooter.js"></script>
<script src="/.static/js/randomQuote.js"></script>
<script src="/.static/js/announceIndex.js"></script>
<script src="/.static/js/latestDoodles.js"></script>
</html>
