<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Languages</legend>
      <h3>New language</h3>
      <form
        action="/addLanguage.js"
        method="post"
        enctype="multipart/form-data">

        <input
          type="text"
          name="headerValues"
          id="fieldHeaderValues"
          placeholder="header values*">
        <input
          type="text"
          name="frontEnd"
          id="fieldFrontEnd"
          placeholder="front-end">
        <input
          type="text"
          name="languagePack"
          id="fieldLanguagePack"
          placeholder="language pack">
        <br>

        <input
          type="submit"
          value="Add language"
          id="addFormButton">

        <input
          type="button"
          onClick="addLanguage()"
          style="display: none;"
          value="Add language"
          id="addJsButton">
        <br>

      </form>
      <hr>
      <h3>Existing languages</h3>
      <div id="languagesDiv"></div>
      <br>
      *: separate values by commas, spaces will be ignored (a, b,c)
    </fieldset>

  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/languages.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
