<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Account</legend>
      <h3>Login</h3>

      <form
        action="/login.js"
        enctype="multipart/form-data"
        method="post">

        <input
          type="text"
          name="login"
          id="loginFieldLogin"
          placeholder="login">

        <input
          type="password"
          id="loginFieldPassword"
          name="password"
          placeholder="password">

        <div id="divRemember">
          <input
            type="checkbox"
            name="remember"
            id="checkboxRemember">
          Remember me
        </div>

        <input
          type="submit"
          id="loginFormButton"
          value="login">

        <input
          type="button"
          id="loginJsButton"
          onclick="loginUser()"
          value="login"
          class="hidden">

      </form>

      <hr />

      <div id="divCreation">
        <h3>Register</h3>
        <form
          action="/registerAccount.js"
          enctype="multipart/form-data"
          method="post">

          <input
            type="text"
            name="login"
            id="registerFieldLogin"
            placeholder="login">

          <input
            type="password"
            id="registerFieldPassword"
            name="password"
            placeholder="password">

          <input
            type="email"
            id="registerFieldEmail"
            name="email"
            placeholder="email">

          <div class="captchaDiv">

            <img
              id="captchaImage"
              class="captchaImage"
              src="/captcha.js">

            <br>
            <input
              type="button"
              id="reloadCaptchaButton"
              onclick="reloadCaptcha()"
              value="reload">
            <span class="captchaTimer"></span>

            <br>

            <input
              name="captcha"
              type="text"
              class="captchaField"
              id="fieldCaptcha"
              placeholder="answer">

            <a
              class="small"
              href="/noCookieCaptcha.js">no cookies?</a>
          </div>

          <input
            type="submit"
            id="registerFormButton"
            value="register">

          <input
            type="button"
            id="registerJsButton"
            onclick="registerAccount()"
            value="register"
            class="hidden">

        </form>
        <hr />

      </div>

      <div id="divRecover">
        <h3>Recover Account</h3>
        <form
          action="/requestAccountRecovery.js"
          enctype="multipart/form-data"
          method="post">

          <input
            type="text"
            name="login"
            id="recoverFieldLogin"
            placeholder="login">

          <div class="captchaDiv">

            <img
              id="captchaImageRecover"
              class="captchaImage"
              src="/captcha.js">

            <br>
            <input
              type="button"
              id="reloadCaptchaButtonRecover"
              onclick="reloadCaptcha()"
              value="reload">
            <span class="captchaTimer"></span>

            <br>

            <input
              name="captcha"
              type="text"
              class="captchaField"
              id="fieldCaptchaRecover"
              placeholder="answer">

            <a
              class="small"
              href="/noCookieCaptcha.js">no cookies?</a>
          </div>

          <input
            type="submit"
            id="recoverFormButton"
            value="request recovery">

          <input
            type="button"
            id="recoverJsButton"
            onclick="recoverAccount()"
            value="request recovery"
            class="hidden">
        </form>

      </div>

    </fieldset>

  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/login.js"></script>
<script src="/.static/js/captcha.js"></script>
<script src="/.static/js/themes.js"></script>

</html>
