<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  rel="stylesheet"
  type="text/css"
  href="/.static/css/global.css">
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Media Management</legend>

      <form
        action="/mediaManagement.js"
        method="GET">
        Search:
        <input
          name="filter"
          type="text">

        <label>
          <input
            type="checkbox"
            value="1"
            id="orphanedCheckbox"
            name="orphaned">
          Show only orphaned files
        </label>

        <button type="submit">Filter</button>
      </form>

      <form
        action="/deleteMedia.js"
        method="POST"
        enctype="multipart/form-data">
        <input
          value="Delete selected media"
          type="submit"
          id="deleteFormButton">
        <input
          value="Delete selected media"
          type="button"
          id="deleteJsButton"
          onclick="deleteMedia()"
          class="hidden">

        <div id="filesDiv"></div>
      </form>
      <hr>
      <div id="pagesDiv"></div>

    </fieldset>

  </div>

</body>
<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/mediaManagement.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
