<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        href="#"
        id="linkTop"></a> <span>/</span> <a
        href="#footer"
        id="linkBottom"></a> <span>]</span>
    </span>
  </nav>

  <header class="boardHeader">
    <img
      id="bannerImage"
      src="/randomBanner.js" />
  </header>

  <div id="threadList">
    <div id="divThreads"></div>
  </div>

  <footer id="footer"></footer>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/overboard.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/themes.js"></script>

</html>