<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Range Ban</legend>

      <form
        action="/placeRangeBan.js"
        method="post"
        enctype="multipart/form-data">
        <label>
          Range to be banned:
          <input
            type="text"
            name="range"
            class="rangeBanField"
            id="rangeField">
        </label>
        <input
          id="boardIdentifier"
          type="hidden"
          name="boardUri">

        <button
          type="submit"
          id="createFormButton">Place range ban</button>

      </form>
      <div id="rangeBansDiv"></div>
    </fieldset>
  </div>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/rangeBans.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
