<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome">home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList">boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard">overboard</a> <span>/</span> <a
        href="/.static/posting.html"
        class="coloredIcon"
        id="navPosting">help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <header>
    <img
      src="/.static/logo.png"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>Socket Control</legend>

      Status: <span id="statusLabel"></span>

      <form
        method="get"
        action="/restartSocket.js">
        <button
          type="submit"
          id="restartFormButton">Restart socket</button>
        <button
          type="button"
          class="hidden"
          onclick="restartSocket()"
          id="restartJsButton">Restart socket</button>
      </form>

    </fieldset>

  </div>

</body>

<script src="/.static/js/settings.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/socketControl.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
