<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/threadPage.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/sideCatalog.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        href=".."
        id="linkBack"
        class="coloredIcon"></a> <span>/</span> <a
        href="#bannerImage"
        id="linkTop"
        class="coloredIcon"></a> <span>/</span> <a
        href="#footer"
        id="linkBottom"
        class="coloredIcon"></a> <span>/</span> <a
        href="../catalog.html"
        id="navCatalog"
        class="coloredIcon"></a> <span>]</span>
    </span>
  </nav>

  <div
    class="hidden"
    id="sideCatalogDiv">

    <div id="sideCatalogHeader">

      <button
        id="sideCatalogRefreshButton"
        class="catalogLabel"
        onclick="sideCatalog.refreshSideCatalog()">Refresh</button>
      <span
        id="closeSideCatalogButton"
        class="coloredIcon glowOnHover"></span>
    </div>

    <div id="sideCatalogBody"></div>

  </div>

  <div id="mainPanel">

    <header class="boardHeader">
      <img id="bannerImage" />
      <div>
        <p id="labelName"></p>
      </div>
      <p id="labelDescription"></p>
    </header>

    <div id="postingForm">

      <fieldset id="newPostFieldset">
        <legend>Mode: Reply</legend>

        <form
          action="/replyThread.js"
          enctype="multipart/form-data"
          method="post">

          <input
            type="hidden"
            name="threadId"
            id="threadIdentifier">

          <table id="postingTable">
          </table>

          <p class="small">
            Remember to follow the
            <a
              href="../rules.html"
              class="rules">rules</a>
          </p>

          <button
            type="submit"
            id="formButton">Reply</button>

        </form>

      </fieldset>

    </div>

    <div id="divControls">

      <form
        action="/changeThreadSettings.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Thread Settings</legend>

          <label>
            <input
              name="lock"
              class="threadSettingsField"
              id="checkboxLock"
              type="checkbox">
            Lock
          </label>
          <label>
            <input
              class="threadSettingsField"
              name="pin"
              id="checkboxPin"
              type="checkbox">
            Pin
          </label>
          <label>
            <input
              type="checkbox"
              class="threadSettingsField"
              name="cyclic"
              id="checkboxCyclic">
            Cyclic
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="controlBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="controlThreadIdentifier">
          <button
            type="submit"
            id="settingsFormButon">Save</button>

        </fieldset>
      </form>

    </div>
    <div id="divArchive">

      <form
        action="/archiveThread.js"
        method="post"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Archive Thread</legend>

          <label>
            <input
              name="confirmation"
              class="archiveField"
              id="checkboxArchive"
              type="checkbox">
            Yes, I wish to lock and archive this thread
          </label>

          <input
            type="hidden"
            name="boardUri"
            id="archiveBoardIdentifier">
          <input
            type="hidden"
            name="threadId"
            id="archiveThreadIdentifier">
          <button
            type="submit"
            id="archiveFormButon">Archive</button>

        </fieldset>
      </form>

    </div>

    <div id="transferControls">

      <form
        action="/transferThread.js"
        enctype="multipart/form-data"
        method="post"
        id="formTransfer"
        class="formTransfer">

        <fieldset id="settingsFieldset">
          <legend>Transfer Thread</legend>

          <input
            type="hidden"
            name="boardUri"
            id="transferBoardIdentifier">

          <input
            type="hidden"
            name="threadId"
            id="transferThreadIdentifier">

          <label>
            Destination board:
            <input
              type="text"
              class="transferField"
              id="fieldDestinationBoard"
              name="boardUriDestination">
          </label>

          <button
            type="submit"
            id="transferFormButton">Transfer thread</button>

        </fieldset>
      </form>

    </div>

    <div id="ipDelete">

      <form
        id="ipDeletionForm"
        method="post"
        action="/deleteFromIp.js"
        enctype="multipart/form-data">

        <fieldset id="settingsFieldset">
          <legend>Delete from IP</legend>

          <label>
            Non-hashed ip:
            <input
              type="text"
              class="ipDeletionField"
              name="ip"
              id="ipField">
          </label>
          <label>
            Delete only from these boards(Ex:"b v", leaving blank will delete
            from all boards)
            <input
              type="text"
              class="ipDeletionField"
              name="boards"
              id="fieldBoards">
          </label>

          <button
            type="submit"
            id="deleteFromIpFormButton">Delete from IP</button>
        </fieldset>
      </form>

    </div>

    <div id="panelMessage">
      <hr>
      <div id="divMessage"></div>
    </div>

    <div id="threadList">

      <form
        method="post"
        action="/contentActions.js"
        enctype="multipart/form-data">

        <div id="divThreads"></div>

        <hr class="clearer" />

        <div class="divRefresh hidden">

          <input
            type="button"
            id="refreshButton"
            onclick="thread.refreshPosts(true)"
            value="Refresh">

          <label>
            <input
              id="checkboxChangeRefresh"
              type="checkbox"
              checked
              onchange="thread.changeRefresh()">
            Auto <span id="labelRefresh"></span>
          </label>

        </div>

        <div id=boardContentLinks>
          <span>[</span>
          <a id="linkManagement">Manage Board</a>
          <span>/</span>
          <a id="linkMod">Moderate Thread</a>
          <span>]</span>
        </div>

        <div id="bottomForms">

          <fieldset class="reportFieldset">
            <legend>Delete</legend>

            <div class="contentAction">
              <label>
                Password
                <input
                  class="deletionField"
                  type="text"
                  id="deletionFieldPassword"
                  name="password">
              </label>
              <label>
                <input
                  class="deletionField"
                  type="checkbox"
                  id="checkboxOnlyFiles"
                  name="deleteUploads">
                Delete only files (Removes the file reference to the posts)
              </label>
              <label>
                <input
                  class="deletionField"
                  type="checkbox"
                  id="checkboxMediaDeletion"
                  name="deleteMedia">
                Delete media (Removes the saved files from the server)
              </label>
              <button
                type="submit"
                id="deleteFormButton"
                value="delete"
                name="action">Delete</button>
            </div>
          </fieldset>

          <fieldset class="reportFieldset">
            <legend>Report/Ban</legend>

            <div class="contentAction">

              <label>
                Reason (used on reports and bans)
                <input
                  type="text"
                  id="reportFieldReason"
                  name="reason">
              </label>

              <label>
                <input
                  type="checkbox"
                  id="checkboxGlobal"
                  name="global">
                Global (used on reports and bans)
              </label>
              <p>Captcha (required for reports and bans by board staff)</p>
              <img
                class="captchaImage"
                id="captchaImageReport"
                src="/captcha.js">

              <input
                type="button"
                class="hidden reloadCaptchaButton"
                onclick="captchaUtils.reloadCaptcha()"
                value="Reload">
              <span class="captchaTimer"></span>
              <br>

              <input
                name="captcha"
                type="text"
                id="fieldCaptchaReport"
                class="captchaField"
                placeholder="answer">

              <a
                class="small"
                href="/noCookieCaptcha.js">no cookies?</a>

              <br>

              <button
                type="submit"
                id="reportFormButton"
                value="report"
                name="action">Report</button>

              <div id="divMod">
                <hr>
                <p>Moderation actions</p>
                <label>
                  Ban duration (Defaults to 5 years):
                  <input
                    class="banField"
                    type="text"
                    id="fieldDuration"
                    name="duration">
                  <a href="/.static/pages/moderation.html#banSection">Duration
                    format</a>
                </label>

                <label>
                  Ban Message
                  <input
                    class="banField"
                    type="text"
                    id="fieldbanMessage"
                    name="banMessage">
                </label>

                <label>
                  Ban type:
                  <select
                    name="banType"
                    id="comboBoxBanTypes">
                    <option value="0">Regular ban</option>
                    <option value="1">Range ban (1/2 octects)</option>
                    <option value="2">Range ban (3/4 octects)</option>
                  </select>
                </label>

                <label>
                  <input
                    type="checkbox"
                    class="ipDeletionField"
                    name="confirmation"
                    id="ipDeletionConfirmationCheckbox"
                    value="true">
                  Confirm board-wise ip deletion
                </label>

                <button
                  type="submit"
                  id="inputIpDelete"
                  value="ip-deletion"
                  name="action">Delete by ip on this board</button>

                <button
                  type="submit"
                  id="inputBan"
                  value="ban"
                  name="action">Ban</button>

                <button
                  type="submit"
                  id="inputSpoil"
                  value="spoil"
                  name="action">Spoil Files</button>

              </div>

            </div>


          </fieldset>

        </div>

      </form>

    </div>

    <footer id="footer"></footer>
  </div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/crypt.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/thread.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/qr.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/mediaHiding.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/gallery.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/sideCatalog.js"></script>
<script src="/.static/js/bottomForms.js"></script>

</html>
