<hr />

<div class="boardsCellHeader">
  <a class="linkBoard"></a>
  <span class="indicatorSfw">*SFW*</span> <span class="indicatorInactive">*Abandoned*</span>
  <span>//</span> <span class="divDescription"></span>
</div>

<div class="boardsCellStats">
  <span>[</span> <span class="labelPostsPerHour"></span> <span>/</span> <span
    class="labelPostCount"></span> <span>/</span> <span class="labelUniqueIps"></span>
  <span>]</span>
</div>

<div class="boardsCellTags">
  <span class="labelTags"></span>
</div>