<script src="/.static/js/jquery.min.js"></script>
<audio id="player" src="https://radio.wapchan.org/wapfm"></audio>
<span id="navLinkSpan">
  <a href="/" title="Home" style="color: #af4b69; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; letter-spacing: +0em; font-weight: bold;">RANchan! </a>
    <span class="linkBarrierStart"></span><a href="/latest" id="navOverboard" title="Latest Rans"></a><span class="linkBarrierEnd"></span>
    <span class="linkBarrierStart"></span><a href="/ran" title="Ran's World">ran</a><span 
      class="linkBarrierEnd"></span>
    <span class="linkBarrierStart"></span><a href="https://rumiki.wapchan.org" title="Rumiki">Raniki</a><span 
      class="linkBarrierEnd"></span>
      <span class="linkBarrierStart"></span><span class="desktopLinks"><a href="https://radio.wapchan.org/">Randio:</a></span>
    <button id="playButton" onclick="
      if (document.getElementById('player').paused){
        document.getElementById('player').play();
        document.getElementById('playButton').innerText = ''
      } else {
        document.getElementById('player').pause();
        document.getElementById('playButton').innerText = ''
      }" title="Radio">
      </button>
      <span class="desktopLinks linkBarrierEnd"></span>
      <span class="desktopLinks linkBarrierStart"></span>
      <span class="mobileLinks linkBarrierDivider"></span>
      <span id="lastHeader" class="desktopLinks">UFO Wallpaper:</span>
      <span class="desktopLinks">Word Fuel:</span>
      <input type="checkbox" id="overrideCity" onclick="
      var element = document.getElementsByTagName('body')[0];
      element.classList.toggle('font_override');
      " title="Font Override"/><label for="overrideCity"></label><span id="lastHeader2"></span><span class="linkBarrierEnd"></span>
</span>
<script>
  var body = document.getElementsByTagName('body')[0];
  if (document.getElementById('overrideCity').checked) {
      body.className += ' font_override';
    }
</script>