/*Elements used exclusively on board pages*/
#linkPrevious:before {
  font-family: "SymbolsNerdFont";
  content: "\f060";
  margin: 0 0.25em;
}

#linkLogs:before {
  font-family: "SymbolsNerdFont";
  content: "\f0bc1"
}

#linkPrevious, #linkNext {
  vertical-align: middle;
}

#linkNext:after {
  font-family: "SymbolsNerdFont";
  content: "\f061";
  margin: 0 0.25em;
}

.threadPages a {
  text-decoration: none
}