/*Elements used exclusively on board pages*/
#linkPrevious:before {
  font-family: Icons;
  content: "\e035";
  margin: 0 0.25em;
}

#linkPrevious, #linkNext {
  vertical-align: middle;
}

#linkNext:after {
  font-family: Icons;
  content: "\e036";
  margin: 0 0.25em;
}

.threadPages {
  float: left;
  margin-top: 0.5em;
}

.threadPages a {
  text-decoration: none
}

#boardLinks {
  margin: 1em 1em 1em 0;
  font-size: 80%;
}