/*Used only on catalog*/
.linkThumb {
  font-size: 80%;
}

#catalogId {
  text-align: center;
  margin: 1.5em 0 1em 0;
  font-size: 150%;
}

.catalogCell {
  display: inline-block;
  width: 12em;
  text-align: center;
  padding: 0.25em;
  height: 14em;
  overflow: hidden;
  overflow-y: auto;
  background: #282A2E;
  margin: 0.1em;
  border: 1px solid #117743;
  border-radius: 5px;
}

.catalogCell .divMessage {
  margin: 0;
  font-size: 75%;
}

.catalogCell .labelSubject {
  font-size: 75%;
}

.linkThumb img {
  max-height: 128px;
  max-width: 128px;
}

.catalogDiv {
  width: 95%;
  margin: 1em auto;
  text-align: center;
}

.threadStats {
  font-size: 75%;
}