/*FONT IMPORT BEGIN*/
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Medium.woff2") format("woff2"),
  url("../fonts/TT_Bricks_Trial_Medium.woff") format("woff");
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Bold.woff2") format("woff2"),
  url("../fonts/TT_Bricks_Trial_Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Medium_Italic.woff2") format("woff2"),
  url("../fonts/TT_Bricks_Trial_Medium_Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "TT Bricks Trial";
  src: url("../fonts/TT_Bricks_Trial_Bold_Italic.woff2") format("woff2"),
  url("../fonts/TT_Bricks_Trial_Bold_Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Clarendon";
  src: url("../fonts/Clarendon-Regular.woff2") format("woff2"),
  url("../fonts/Clarendon-Regular.woff") format("woff");
}
@font-face {
  font-family: "TopazPlus a500";
  src: url("../fonts/TopazPlus_a500_v1.0.woff2") format("woff2"),
  url("../fonts/TopazPlus_a500_v1.0.woff") format("woff");
}
@font-face {
  font-family: "TopazPlus a1200";
  src: url("../fonts/TopazPlus_a1200_v1.0.woff2") format("woff2"),
  url("../fonts/TopazPlus_a1200_v1.0.woff") format("woff");
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Regular.woff2") format("woff2"),
  url("../fonts/ArimoNerdFont-Regular.woff") format("woff");
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Bold.woff2") format("woff2"),
  url("../fonts/ArimoNerdFont-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-Italic.woff2") format("woff2"),
  url("../fonts/ArimoNerdFont-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "ArimoNerdFont";
  src: url("../fonts/ArimoNerdFont-BoldItalic.woff2") format("woff2"),
  url("../fonts/ArimoNerdFont-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CozetteVector";
  src: url("../fonts/CozetteVector.woff2") format("woff2"),
  url("../fonts/CozetteVector.woff") format("woff");
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Regular.woff2") format("woff2"),
  url("../fonts/TerminusTTF-Regular.woff") format("woff");
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Bold.woff2") format("woff2"),
  url("../fonts/TerminusTTF-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-Italic.woff2") format("woff2"),
  url("../fonts/TerminusTTF-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "TerminusTTF";
  src: url("../fonts/TerminusTTF-BoldItalic.woff2") format("woff2"),
  url("../fonts/TerminusTTF-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Charcoal Pixelated";
  src: url("../fonts/Charcoal-Pixelated.woff2") format("woff2"),
  url("../fonts/Charcoal-Pixelated.woff") format("woff");
}
@font-face {
  font-family: "Nine By Five NBP";
  src: url("../fonts/Nine-By-Five-NBP.woff2") format("woff2"),
  url("../fonts/Nine-By-Five-NBP.woff") format("woff");
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.woff2") format("woff2"),
  url("../fonts/LibreBaskerville-Regular.woff") format("woff");
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Bold.woff2") format("woff2"),
  url("../fonts/LibreBaskerville-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Italic.woff2") format("woff2"),
  url("../fonts/LibreBaskerville-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Regular.woff2") format("woff2"),
  url("../fonts/Essays1743-Regular.woff") format("woff");
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Bold.woff2") format("woff2"),
  url("../fonts/Essays1743-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-Italic.woff2") format("woff2"),
  url("../fonts/Essays1743-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Essays 1743";
  src: url("../fonts/Essays1743-BoldItalic.woff2") format("woff2"),
  url("../fonts/Essays1743-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-Regular.woff2") format("woff2"),
  url("../fonts/Caslon-Antique-Regular.woff") format("woff");
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/Caslon-Antique-Bold.woff2") format("woff2"),
  url("../fonts/CaslonAntique-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-Italic.woff2") format("woff2"),
  url("../fonts/Caslon-Antique-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Caslon Antique";
  src: url("../fonts/CaslonAntique-BoldItalic.woff2") format("woff2"),
  url("../fonts/Caslon-Antique-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PC-98";
  src: url("../fonts/PC-98-Regular.woff2") format("woff2"),
  url("../fonts/PC-98-Regular.woff") format("woff");
}
@font-face {
  font-family: "PC-98";
  src: url("../fonts/PC-98-Bold.woff2") format("woff2"),
  url("../fonts/PC-98-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slim-Regular.woff2") format("woff2"),
  url("../fonts/Komika-Slim-Regular.woff") format("woff");
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slick-Regular.woff2") format("woff2"),
  url("../fonts/Komika-Slick-Regular.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slim-Italic.woff2") format("woff2"),
  url("../fonts/Komika-Slim-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Komika";
  src: url("../fonts/Komika-Slick-Italic.woff2") format("woff2"),
  url("../fonts/Komika-Slick-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "GROBOLD";
  src: url("../fonts/GROBOLD.woff2") format("woff2"),
  url("../fonts/GROBOLD.woff") format("woff");
}
@font-face {
  font-family: "DFPOCOC";
  src: url("../fonts/DFPOCOC.woff2") format("woff2"),
  url("../fonts/DFPOCOC.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans";
  src: url("../fonts/Fami-Sans.woff2") format("woff2"),
  url("../fonts/Fami-Sans.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans";
  src: url("../fonts/Fami-Sans-Bold.woff2") format("woff2"),
  url("../fonts/Fami-Sans-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Sans Condensed";
  src: url("../fonts/Fami-Sans-Condensed.woff2") format("woff2"),
  url("../fonts/Fami-Sans-Condensed.woff") format("woff");
}
@font-face {
  font-family: "Fami Sans Condensed";
  src: url("../fonts/Fami-Sans-Condensed-Bold.woff2") format("woff2"),
  url("../fonts/Fami-Sans-Condensed-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Serif";
  src: url("../fonts/Fami-Serif.woff2") format("woff2"),
  url("../fonts/Fami-Serif.woff") format("woff");
}
@font-face {
  font-family: "Fami Serif";
  src: url("../fonts/Fami-Serif-Bold.woff2") format("woff2"),
  url("../fonts/Fami-Serif-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Fami Square";
  src: url("../fonts/Fami-Square.woff2") format("woff2"),
  url("../fonts/Fami-Square.woff") format("woff");
}
@font-face {
  font-family: "Fami Square";
  src: url("../fonts/Fami-Square-Bold.woff2") format("woff2"),
  url("../fonts/Fami-Square-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Regular.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Bold.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-Italic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 16";
  src: url("../fonts/Arial-Pixelated-16-BoldItalic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Regular.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Bold.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-Italic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 24";
  src: url("../fonts/Arial-Pixelated-24-BoldItalic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Regular.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Bold.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-Italic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Arial Pixelated 32";
  src: url("../fonts/Arial-Pixelated-32-BoldItalic.woff2") format("woff2"),
  url("../fonts/Arial-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Comic Sans Pixelated 16";
  src: url("../fonts/Comic-Sans-Pixelated-16-Regular.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 16";
  src: url("../fonts/Comic-Sans-Pixelated-16-Bold.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans Pixelated 24";
  src: url("../fonts/Comic-Sans-Pixelated-24-Regular.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 24";
  src: url("../fonts/Comic-Sans-Pixelated-24-Bold.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Comic Sans Pixelated 32";
  src: url("../fonts/Comic-Sans-Pixelated-32-Regular.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Comic Sans Pixelated 32";
  src: url("../fonts/Comic-Sans-Pixelated-32-Bold.woff2") format("woff2"),
  url("../fonts/Comic-Sans-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Regular.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Bold.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-Italic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 16";
  src: url("../fonts/Courier-Pixelated-16-BoldItalic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Regular.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Bold.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-Italic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 24";
  src: url("../fonts/Courier-Pixelated-24-BoldItalic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Regular.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Bold.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-Italic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Courier Pixelated 32";
  src: url("../fonts/Courier-Pixelated-32-BoldItalic.woff2") format("woff2"),
  url("../fonts/Courier-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lucida Hand Pixelated 16";
  src: url("../fonts/Lucida-Hand-Pixelated-16-Regular.woff2") format("woff2"),
  url("../fonts/Lucida-Hand-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lucida Hand Pixelated 24";
  src: url("../fonts/Lucida-Hand-Pixelated-24-Regular.woff2") format("woff2"),
  url("../fonts/Lucida-Hand-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lucida Hand Pixelated 32";
  src: url("../fonts/Lucida-Hand-Pixelated-32-Regular.woff2") format("woff2"),
  url("../fonts/Lucida-Hand-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "MS Sans Pixelated 13";
  src: url("../fonts/MS-Sans-Pixelated-13-Regular.woff2") format("woff2"),
  url("../fonts/MS-Sans-Pixelated-13-Regular.woff") format("woff");
}
@font-face {
  font-family: "MS Sans Pixelated 17";
  src: url("../fonts/MS-Sans-Pixelated-17-Regular.woff2") format("woff2"),
  url("../fonts/MS-Sans-Pixelated-17-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Regular.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-16-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Bold.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-16-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-Italic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-16-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 16";
  src: url("../fonts/Times-Pixelated-16-BoldItalic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-16-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Regular.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-24-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Bold.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-24-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-Italic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-24-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 24";
  src: url("../fonts/Times-Pixelated-24-BoldItalic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-24-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Regular.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-32-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Bold.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-32-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-Italic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-32-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Times Pixelated 32";
  src: url("../fonts/Times-Pixelated-32-BoldItalic.woff2") format("woff2"),
  url("../fonts/Times-Pixelated-32-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
/*FONT IMPORT END*/
.leftmenu {
  display: none;
}
.theme_chill .topBoards a,
.theme_chill .innerPost, .theme_chill .sideCatalogCell, .theme_chill .catalogCell, .theme_chill .floatingMenu, .theme_chill #quick-reply table {
  background: #99c969;
}
.topBoards a, .innerPost,
  .sideCatalogCell, .markedPost, .sideCatalogMarkedCell,
  .catalogCell {
    background: #282A2E;
}
.theme_pixl .topBoards a,
.theme_pixl .innerPost, .theme_pixl .sideCatalogCell, .theme_pixl .catalogCell {
  background: black;
  border: 1px solid white;
}

.validationHashDiv {
  line-break: anywhere;
}

#secondaryBar {
  margin: 1em;
}

#labelBypass {
  max-width: 80%;
  word-break: break-all;
}

.theme_pixl .floatingMenu, .theme_pixl #quick-reply table {
  background: black;
  border: 1px solid white;
}

.theme_th .floatingMenu, .theme_th #quick-reply table {
  background: #010101;
  border: 1px solid white;
}

.theme_cyber .floatingMenu, .theme_cyber #quick-reply table {
  background: #1d1f21;
}



.markedPost, .sideCatalogMarkedCell {
  background: #d6bad0;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #B7C5D9;
}

.logoImg {
  display: inline-block;
  height: 250px;
  min-width: 1px;
}
.logoImgRumi {
  display: none;
}
.logoImgOld {
  display: none;
}

.captchaImage {
  width: 300px;
  height: 100px;
  background-color: white;
}

.small {
  font-size: 75%;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

#panelReferences a {
  display: block;
}

.imgLink img, .latestImageCell img, .mediaCell img, .catalogCell img {
  image-orientation: from-image;
}

.linkList a {
  display: block;
}

#themeSelector {
  font-size: 90%;
}

h3, p, label {
  margin: 0.0em 0;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: black;
}

.checkedFavouriteButton:before {
  color: #FFB300;
}

a, .unhideButton, .embedButton, #selectedTab,
  #showFormsButton {
  color: rgb(154, 185, 242);
  cursor: pointer;
}
.theme_rumi a, .theme_rumi .unhideButton, .theme_rumi .embedButton, .theme_rumi #selectedTab,
  #showFormsButton {
  color: black;
  cursor: pointer;
}
.theme_lit a, .theme_lit .unhideButton, .theme_lit .embedButton, .theme_lit #selectedTab,
  #showFormsButton {
  color: black;
  cursor: pointer;
}
.theme_chill a, .theme_chill .unhideButton, .theme_chill .embedButton, .theme_chill #selectedTab,
.theme_chill #showFormsButton {
  color: #0084ff;
  cursor: pointer;
}

a:hover, .intro a.post_no:hover {
  color: #ff0000;
}

a {
  text-decoration: none;
}


u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, textarea {
  font-size: 80%;
  border: 1px solid #111;
  background-color: #282a2e;
  color: #c5c8c6;
  font-family: "CozetteVector";
}

select {
  font-size: 80%;
  border: 1px solid #c5c8c6;
  background-color: #282a2e;
  color: #c5c8c6;
  font-family: "CozetteVector";
}

.dropzone, .selectedCell {
  border: 2px dashed rgba(125, 125, 125, 0.4);
  background-color: rgba(200, 200, 200, 0.5);
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
input[type=button], input[type=submit],
  button, .dropzone, .selectedCell
  {
    border: 1px solid #111;
    background: #282a2e;
    color: #c5c8c6;
    padding-left: 0.25em;
    font-size: 80%;
    font-weight: bold;
    font-family: "CozetteVector";
}
.theme_chill input[type=button], .theme_chill input[type=submit], .theme_chill input[type=checkbox],
.theme_chill button, .theme_chill .dropzone, .theme_chill .selectedCell
  {
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
    padding-left: 0.25em;
    font-size: 80%;
    font-family: "CozetteVector";
}

.fileBrowser {
  background: none;
}

/* body styles, inherited by whole page */
body {
  background: url("../snow.gif") repeat, #1d1f21;
  font-family: "CozetteVector";
  color: #c5c8c6;
  font-size: 100%;
  margin: 0px;
}
body.theme_chill {

  color: black;
background: linear-gradient(135deg, rgba(230,255,205,1) 30%, rgba(255,182,193,1) 100%); 
  font-family: "CozetteVector";
  font-size: 100%;
  margin: 0px;
}

/* header and nav / top of page styles */
header {
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  height: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgba(40,42,46,0.9);
  font-size: 90%;
  text-align: center;
  z-index: 1;
}


nav span, nav a {
  display: inline-block;
  text-decoration: none;
}

#navLinkSpan {
  float: left;
  margin-left: 5px;
  margin-top: 1px;
}

#navOptionsSpan {
  float: right;
}

#navLinkHome:before {
  content: "Home";
}

#navBoardList:before {
  content: "boards";
}

#linkOverboard:before, #navOverboard:before {
  content: "Latest Posts";
}

#navLinkRadio:before {
  content: "Radio:";
}

#settingsButton:before {
  content: "settings";
}

#navPosting:before {
  content: "\e09a";
}

#navCatalog:before {
  content: "catalog";
}

#linkRss:before {
  content: "\e0b7";
}

#linkTop:before {
  content: "top";
}

#linkBottom:before {
  content: "bottom";
}

#linkRefresh:before {
  content: "refresh";
}

#linkBack:before {
  content: "index";
}

/* board list */
#divPages {
  display: inline-block;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
  display: inline-block;
}

a.rules:after {
  font-family: "CozetteVector";
  content: "\e052";
  margin-right: 0.5em;
  color: #117743;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  color: #000;
  background: none;
}

.theme_cyber .spoiler:hover {
  color: #ACACAC;
  background: none;
}

.red {
  color: #117743;
}

/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

#settingsFieldset {
  padding: 1em;
  display: inline-block;
  text-align: left;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

#settingsFieldset label {
  display: block;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 80%;
}

.wide, #postingForm input[type='text'], .modalTableBody input[type='text'],
  .modalTableBody select {
  width: 100%;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

/* footer styles */
footer {
  width: 100%;
  margin: 3em 0px 2em 0px;
  text-align: center;
  font-size: 75%;
}


.innerPost {
  background-color: rgba(40, 42, 46, .6);
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
  border: 1px solid #848484;
}
.markedPost, .sideCatalogMarkedCell {
  background-color: rgba(40, 42, 46, .6);
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
  border: 1px solid red;
}
.theme_chill .innerPost, .theme_chill .markedPost {
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
  border: 1px solid black;
}
/* this has to go down here to override anything above it */
.hidden {
  display: none;
}

#settingsWrapper input.hidden {
  display: none;
}

.floatingMenu {
  padding: 0.25em;
}

.floatingMenu .headerLabel {
  font-size: 80%;
}

.floatingMenu .header, .floatingMenu .headerLabel {
  cursor: pointer;
}

#divRemember input {
  display: inline;
}

#ownedDiv a, #volunteeredDiv a {
  display: block;
}


#linkSfwOver {
  content: 'overboard sfw';
}

#navPosting {
  content: 'help';
}

#watcherButton {
  content: 'watched threads';
}

#linkGlobalLogs {
  content: 'logs';
}

#linkArchives {
  content: 'archives';
}

#linkGraphs {
  content: 'daily graphs';
}

#linkGlobalRules {
  content: 'global rules';
}

#linkLinks {
  content: 'links';
}

#linkAbout {
  content: 'about';
}

#navOptionsSpan a {
  margin-top: 2px;
}
#annoTitle {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  border-bottom-style: solid;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#annoMessage {
  text-align: left;
  font-size: 15pt;
}
.desktopLinks {
  display: inline-block;
}
.mobileLinks {
  display: none;
}
/* MOBILE STUFF */
@media only screen and (max-width: 1270px) {
  .desktopLinks {
    display: none;
  }
  .mobileLinks {
    display: inline-block;
  }
  /* NEW STUFF */
  #annoTitle {
    font-size: 10px;
  }
  #annoImage {
    display: none;
  }
  #annoMessage {
    font-size: 120%;
  }
/* END NEW STUFF */
  #navOptionsSpan span, legend, #settingsButton, #links span,
    .hideMobile {
    display: none;
  }
  #navLinkSpan a::after, #navOptionsSpan a::after, #links a::after {
    content: '';
  }
  #navLinkHome:before {
    content: "";
  }
  
  #linkOverboard:before, #navOverboard:before {
    content: "";
  }

  #navLinkRadio:before {
    content: "";
  }

  #settingsButton:before {
    content: "\e041";
  }
  nav {
    font-size: 90%;
    height: auto;
    padding: 2px 2px;
    letter-spacing: -.05em;
  }
  
  #themeSelector {
    width: 60px;
    max-width: 50px;
  }
  .logoImg {
    margin-top: 10px;
    height: 75px;
  }
  .theme_chill input, .theme_chill select, .theme_chill textarea {
    font-size: 100%;
  }
  input, select, textarea {
    font-family: 'Nine By Five NBP', "CozetteVector";
    background-color: transparent;
    color: #c5c8c6;
    letter-spacing: +0.075em;
    background: #282a2e;
  border: 1px solid #111;
  font-size: 100%;
  }
  body {
    font-size: 85%;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .captchaImage {
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
  code {
    max-width: 90%;
    overflow: auto;
  }
  #divLogs, .hashLabel {
    overflow-wrap: anywhere;
  }
}
/* THEMES BELOW */
/* WAPANESE THEME START */
.box {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color:#c5c8c6;
  background-color: rgba(40, 42, 46, .6);
  margin: 0 auto 1em auto;
}
.theme_chill .box, .theme_lit .box {
  color:black;
  background-color: transparent;
}
.theme_rumi .box{
  color:black;
  background-color: rgba(255, 255, 255, .7);
}
.linkBarrierStart:before {
  content: '｢';
}
.linkBarrierEnd:before {
  content: '｣';
}
.linkBarrierDivider:before {
  content: ' / ';
}
.newsHeader:before, .theme_pixl .newsHeader:before , .theme_wc .newsHeader:before {
  content: '｢news｣';
}
#linkAbout:before {
  content: 'about';
}
#linkRules:before {
  content: 'rules';
}
#linkBanners:before {
  content: 'banners';
}
#linkCinema:before {
  content: 'cinema';
}
#linkLinks:before {
  content: 'links';
}
#linkGlobalLogs:before {
  content: "logs";
}

#linkArchives:before {
  content: "archives";
}

#linkGraphs:before {
  content: "graphs";
}

#linkAccount:before {
  content: "account";
}

#linkLinks:before {
  content: "links";
}

#linkContact:before {
  content: "contact";
}

#linkEngine:before {
  content: "Wapchan runs on ";
}
.boxbar {
  text-align: left;
  background-color:#1D1F21;
}
.theme_chill .boxbar {
  text-align: left;
  background-color: #99c969;
}
.boxbar p{
  margin-left: 5px;
}
#specialBoxBar {
  border-left: 1px solid;
  border-right: 1px solid;
}
.theme_cel #specialBoxBar {
  border-left: 0;
  border-right: 0;
}
#siteBoardBox {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 0 auto;
}
#siteBoardTable1 {
  border-spacing: 0px;
  width: 100%;
}
#siteBoardTable2 {
  border-spacing: 0px;
  width: 100%;
  border: 1px solid #c5c8c6;
  background-color: rgba(40, 42, 46, .6);
}
.theme_cel #siteBoardTable2 {
  border: 0;
  background-color: transparent;
}
.theme_digi #siteBoardTable2 {
  border: 0;
  background-color: transparent;
}
.theme_pixl #siteBoardTable2 {
  border: 1px solid white;
  background-color: transparent
}
.siteBoardBody {
  border-left: 1px solid;
  padding: 6px;
}

.theme_cel .siteBoardBody {
  border-left: 0;
}

.siteBoardBody .Left{
  border-left: 0;
  padding: 6px;
}

.TableTop {
  border-top: 1px solid #c5c8c6;
}
.TableBottom {
  border-bottom: 1px solid #c5c8c6;
}
.TableRight {
  border-right: 1px solid #c5c8c6;
}
.theme_cel .TableTop {
  border-top: 0;
}
.theme_cel .TableBottom {
  border-bottom: 0;
}
.theme_cel .TableRight {
  border-right: 0;
}
td {
  vertical-align: top;
  width: 25%;
}
#siteBoardTableLeft {
  border-bottom: 1px solid #c5c8c6;
  border-right: 1px solid #c5c8c6;
  background-color: #1D1F21;
}
#siteBoardTableRight {
  border-bottom: 1px solid #c5c8c6;
  background-color: #1D1F21;
}

#imageList {
  border-right: 1px solid #c5c8c6;
}
.theme_cel #siteBoardTableLeft, .theme_cel #siteBoardTableRight, .theme_cel #imageList {
  border-bottom: 0;
  border-right: 0;
  background-color: transparent;
}
.theme_digi #siteBoardTableLeft, .theme_digi #siteBoardTableRight, .theme_digi #imageList {
  border-bottom: 0;
  border-right: 0;
  background-color: transparent;
}
.theme_pixl #siteBoardTableLeft, .theme_pixl #siteBoardTableRight, .theme_pixl #imageList {
  background-color: transparent;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #99c969;
  border-width: 1px;
  border-style: solid;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  letter-spacing: +0em;
  color: #222222;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  display: block;
  min-width: 50px;
}
.dropdown-content a:hover {
  background-color: #EEEEEE;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* WAPANESE THEME END */

/* CEL THEME START */
.theme_cel .leftmenu {
  display: none;
}
.theme_cel .logoImg {
  display: none;
}
.theme_cel .logoImgRumi {
  display: none;
}
.theme_cel .logoImgOld {
  display: none;
}

.theme_cel .logoText:before {
  content: "Wapanese Channel";
  display: block;
  font-family: 'Times Pixelated 32';
  font-size: 48px;
  font-weight: bold;
}

.theme_cel .topBoards a, .theme_cel .innerPost,
  .theme_cel .sideCatalogCell, .theme_cel .markedPost, .theme_cel .sideCatalogMarkedCell,
  .theme_cel .catalogCell, .theme_cel .floatingMenu, .theme_cel #quick-reply table {
    background: url("https://wapchan.org/.static/dotsdark2.webp");
}
.theme_cel .markedPost, .theme_cel .sideCatalogMarkedCell {
  background: #868686;
}
.theme_cel .innerPost,
  .theme_cel .sideCatalogCell, .theme_cel .markedPost, .theme_cel .sideCatalogMarkedCell,
  .theme_cel .catalogCell {
  border: 1px solid black;
}
.theme_cel #newPostFieldset, .theme_cel #quick-reply table,
  .theme_cel .modalDecorationPanel, .theme_cel .floatingMenu,
  .theme_cel #settingsFieldset, .theme_cel .reportFieldset {
  border: 1px dashed black;
}
.theme_cel hr {
  border-color: #117743;
}
.theme_cel a, .theme_cel, .theme_cel .unhideButton,
  .theme_cel .embedButton, .theme_cel #selectedTab, .theme_cel #showFormsButton {
  color: #0000EE;
}
.theme_cel input, .theme_cel select, .theme_cel textarea {
  background: white;
  border: 1px double black;
  color: black;
}
.theme_cel input[type=button], .theme_cel input[type=submit],
  .theme_cel button, .theme_cel .dropzone, .theme_cel .selectedCell
  {
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
    padding-left: 0.25em;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Times Pixelated 16', "CozetteVector";
}
body.theme_cel {
  background: url("https://wapchan.org/.static/dots.webp");
  color: #000;
  font-family: 'Times Pixelated 16', "CozetteVector";

}
.theme_cel nav {
  background-color: #ffffff;
}
.theme_cel .box {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  background-color: transparent;
  color:black;
}
.theme_cel .boxbar {
  font-family: 'Times Pixelated 32';
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  background-color: transparent;
}
.theme_cel .boxbar p {
  font-weight: 700;
  font-size: 32px;
}
.theme_cel .linkBarrierStart:before {
  content: '[';
}
.theme_cel .linkBarrierEnd:before {
  content: ']';
}
.theme_cel .linkBarrierDivider:before {
  content: ' | ';
}
.theme_cel .newsHeader:before, .theme_th {
  content: 'News:';
}
.theme_cel #linkAbout:before {
  content: 'About';
}
.theme_cel #linkRules:before {
  content: 'Rules';
}
.theme_cel #linkBanners:before {
  content: 'Banners';
}
.theme_cel #linkCinema:before {
  content: 'Cinema';
}
.theme_cel #linkLinks:before {
  content: 'Links';
}
.theme_cel input, .theme_cel select, .theme_cel textarea {
  font-family: 'Times Pixelated 16', "CozetteVector";
}
/* CEL THEME END */

/* DIGI THEME START */
.theme_digi .leftmenu {
  display: table-cell;
}
.theme_digi a:link {
  color: blue;
}
.theme_digi a:visited {
  color: purple;
}
.theme_digi .logoImg {
  display: none;
}
.theme_digi .logoImgRumi {
  display: none;
}
.theme_digi .logoImgOld {
  display: none;
}
.theme_digi .logoText:before {
  content: "Wapchan";
  display: block;
  font-family: 'Arial Pixelated 32';
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
}

.theme_digi .topBoards a, .theme_digi .innerPost,
  .theme_digi .sideCatalogCell, .theme_digi .markedPost, .theme_digi .sideCatalogMarkedCell,
  .theme_digi .catalogCell, .theme_digi .floatingMenu, .theme_digi #quick-reply table {
  background-color: #f0e0d6;
}
.theme_digi #divLatestPosts .latestPostCell, .theme_digi .innerPost,
  .theme_digi .sideCatalogCell, .theme_digi .markedPost, .theme_digi .sideCatalogMarkedCell,
  .theme_digi .catalogCell {
  border: none;
}
.theme_digi #newPostFieldset, .theme_digi #quick-reply table,
  .theme_digi .modalDecorationPanel, .theme_digi .floatingMenu,
  .theme_digi #settingsFieldset, .theme_digi .reportFieldset {
  border: 1px dashed #117743;
}
.theme_digi hr {
  border-color: #117743;
}
.theme_digi a, .theme_digi, .theme_digi .unhideButton,
  .theme_digi .embedButton, .theme_digi #selectedTab, .theme_digi #showFormsButton {
  color: #000;
}
.theme_digi input, .theme_digi select, .theme_digi textarea {
  background: #FFFFEE;
  border: 1px double #800000;
  color: #800000;
}
.theme_digi input[type=button], .theme_digi input[type=submit],
  .theme_digi button, .theme_digi .dropzone, .theme_digi .selectedCell
  {
  border: 1px solid #800000;
  background: transparent;
  color: #800000;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
}
body.theme_digi {

  background: #FFFFEE;
  color: #800000;
  font-family: 'Arial Pixelated 16', "CozetteVector";
}
.theme_digi nav {
  background-color: #FFFFEE;
}
.theme_digi .leftmenu {
  font-size: 100%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  width: 15%;
  padding: 20px 10px 10px 10px;
}
.theme_digi .rightbody {
  width: 100%;
}
.theme_digi .box {
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid black;
  color: black;
  background-color: #FFFFEE;
}
.theme_digi .boxbar {
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid black;
  color:#800000;
  font-weight: 700;
  padding: 5px;
  background-color: transparent;
}
.theme_digi #randomQuote {
  font-size: 18px;
  font-style: italic;
}
.theme_digi .linkBarrierStart:before {
  content: '[';
}
.theme_digi .linkBarrierEnd:before {
  content: ']';
}
.theme_digi .linkBarrierDivider:before {
  content: ' | ';
}
.theme_digi .newsHeader:before {
  content: 'NEWS';
  text-decoration: underline;
  font-style: italic;
  font-size: 150%;
}
.theme_digi #newsBox {
  text-align: center;
}
.theme_digi #linkAbout:before {
  content: 'About';
}
.theme_digi #linkRules:before {
  content: 'Rules';
}
.theme_digi #linkBanners:before {
  content: 'Banners';
}
.theme_digi #linkCinema:before {
  content: 'Cinema';
}
.theme_digi #linkLinks:before {
  content: 'Links';
}
.theme_digi #siteBoardBox {
  display: none;
}
.theme_digi .boardHeader p {
  color: #800000;
}
.theme_digi input, .theme_digi select, .theme_digi textarea {
  font-family: 'Arial Pixelated 16', "CozetteVector";
}
.theme_digi #annoTitle {
  color: #800000;
}
/* DIGI THEME END */

/* PIXL THEME START */
.theme_pixl .leftmenu {
  display: none;
}
.theme_pixl .logoImg {
  display: none;
}
.theme_pixl .logoImgRumi {
  display: none;
}
.theme_pixl .logoImgOld {
  display: none;
}
.theme_pixl .logoText:before {
  content: "WAPCHAN.ORG ワップちゃん";
  display: block;
  font-family: 'PC-98';
  font-size: 24px;
}
body.theme_pixl {

  background: #000000;
  color:white;
  font-family: 'PC-98', "CozetteVector";
}
.theme_pixl .box {
  background-color: black;
  color:white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.theme_pixl .boxbar {
  text-align: left;
  background-color: #000000;
}
.theme_pixl a:link {
  color: #f5deb3;
}
.theme_pixl a:visited {
  color: #c4b18f;
}
.theme_pixl .boardHeader p {
  color: white;
}
.theme_pixl nav {
  background-color: black;
  border-bottom: 1px solid white;
}
.theme_pixl input, .theme_pixl select, .theme_pixl textarea {
  font-family: 'PC-98', "CozetteVector";
  background: black;
  color: white;
  border: 1px solid white;
}
.theme_pixl a, .theme_pixl, .theme_pixl .unhideButton,
  .theme_pixl .embedButton, .theme_pixl #selectedTab, .theme_pixl #showFormsButton {
  color: #30C8FF;
}
.theme_pixl input[type=button], .theme_pixl input[type=submit],
  .theme_pixl button, .theme_pixl .dropzone, .theme_pixl .selectedCell
  {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
}
/* PIXL THEME END */

/* RUMI THEME START */
.theme_rumi .logoImg {
  display: none;
}
.theme_rumi .logoImgRumi {
  display: inline-block;
  height: 250px;
  min-width: 1px;
}
.theme_rumi .logoImgOld {
  display: none;
}
body.theme_rumi {
  background: url("https://wapchan.org/.static/rumiwallpaper.webp"), white;
  background-size: cover;
  background-attachment: fixed;
  color: #000;
  font-family: 'Komika', "ArimoNerdFont";
}
.theme_rumi .labelSubject {
  color:black
}
.theme_rumi #divLatestPosts .latestPostCell, .theme_rumi .innerPost,
  .theme_rumi .sideCatalogCell, .theme_rumi .markedPost, .theme_rumi .sideCatalogMarkedCell,
  .theme_rumi .catalogCell {
  border: 4px solid black;
  background: rgba(256, 256, 256, .75);
}
.theme_rumi input, .theme_rumi select, .theme_rumi textarea {
  font-family: 'Komika', "ArimoNerdFont";
}
.theme_rumi input[type=button], .theme_rumi input[type=submit], .theme_rumi input[type=checkbox],
.theme_rumi button, .theme_rumi .dropzone, .theme_rumi .selectedCell
  {
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
    padding-left: 0.25em;
    font-size: 80%;
    font-family: 'Komika', "ArimoNerdFont";
}
.theme_rumi nav {
  background-color: #ffffff;
  border-bottom: 1px solid black;
}
.theme_rumi .boxbar {
  text-align: left;
  background-color: transparent;
}
.theme_rumi input, .theme_rumi select, .theme_rumi textarea {
  font-family: 'Komika', "ArimoNerdFont";
  background-color: transparent;
  color:black;
}
.theme_rumi #siteBoardTable2 {
  border-spacing: 0px;
  width: 100%;
  border: 2px solid;
  background-color: rgba(256, 256, 256, .75);
}
/* RUMI THEME END */

/* TH THEME START */
.theme_th .leftmenu {
  display: none;
}
.theme_th .logoImg {
  display: none;
}
.theme_th .logoImgRumi {
  display: none;
}
.theme_th .logoImgOld {
  display: none;
}
.theme_th .logoText:before {
  content: "Wapchan!";
  font-size: 100px;
}
body.theme_th {

  background: url("https://wapchan.org/.static/tou4.png");
  color: white;
  font-family: 'DFPOCOC', "ArimoNerdFont";
}
.theme_th .box {
  color:white;
}
.theme_th a:link {
  color: #f5deb3;
}
.theme_th a:visited {
  color: #c4b18f;
}
.theme_th .boardHeader p {
  color: white;
}
.theme_th nav {
  background-color: #010101;
  border-bottom: 1px solid white;
}
.theme_th select {
  font-family: 'DFPOCOC', "ArimoNerdFont";
}
.theme_th .innerPost,
  .theme_th .sideCatalogCell, .theme_th .markedPost, .theme_th .sideCatalogMarkedCell,
  .theme_th .catalogCell {
  border: 1px solid white;
}
.theme_th .topBoards a, .theme_th #divLatestImages img,
  .theme_th #divLatestPosts .latestPostCell, .theme_th .innerPost,
  .theme_th .sideCatalogCell, .theme_th .markedPost, .theme_th .sideCatalogMarkedCell,
  .theme_th .catalogCell {
    background-color: rgba(1, 1, 1, .6);
}
.theme_th input, .theme_th select, .theme_th textarea {
  font-family: 'DFPOCOC', "ArimoNerdFont";
  background-color: rgba(1, 1, 1, .6);
  color:white;
  border: 1px solid white;
}
.theme_th .quoteTooltip {
  background-color: rgba(1, 1, 1, 1);
}
.theme_th .labelSubject {
  color: #89CFF0;
}
.theme_th .noEmailName, .theme_th .noEmailName:hover {
  color: #90EE90;
}
.theme_th #postingForm th, .theme_th .modalTableBody th {
  background: transparent;
  border: 1px solid white;
}
.theme_th input[type=button], .theme_th input[type=submit],
.theme_th button, .theme_th .dropzone, .theme_th .selectedCell
  {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 0.25em;
    font-size: 80%;
    font-weight: bold;
}
.theme_th .boxbar {
  text-align: left;
  background-color: transparent;
}
.theme_th .boxbar p{
  margin-top: 5px;
}
.theme_th .box {
  background-color: rgba(1, 1, 1, .6);
  color:white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.theme_th a, .theme_th, .theme_th .unhideButton,
  .theme_th .embedButton, .theme_th #selectedTab, .theme_th #showFormsButton {
  color: #30C8FF;
}
.theme_th #siteBoardTable2 {
  background-color: rgba(1, 1, 1, .6);
}

/* TH THEME END */

/* ART THEME START */
body.theme_art {

  background: radial-gradient(circle, rgb(255,246,142) 18%, rgb(135,206,235) 40%); 
}
.theme_art nav {
  background-color: #87CEEB;
  border-bottom: 1px solid black;
}
.theme_art .boxbar {
  text-align: left;
  background-color: transparent;
}
/* ART THEME END */

/* HOB THEME START */
body.theme_hob {

  background: url("https://wapchan.org/.static/desert_room.jpg");
  color: #ffffff;
  font-family: 'TT Bricks Trial', "ArimoNerdFont";
}
.theme_hob nav {
  background-color: #705d4c;
  border-bottom: 1px solid white;
}
.theme_hob .boxbar {
  text-align: left;
  background-color: #705d4c;
}
.theme_hob .box {
  color: #ffffff
}
.theme_hob .topBoards a, .theme_hob .innerPost,
  .theme_hob .sideCatalogCell, .theme_hob .markedPost, .theme_hob .sideCatalogMarkedCell,
  .theme_hob .catalogCell, .theme_hob .floatingMenu, .theme_hob #quick-reply table {
  background-color: #705d4c;
}
.theme_hob a:link {
  color: blue;
}
.theme_hob a:visited {
  color: purple;
}
/* HOB THEME END */

/* LIT THEME START */
.theme_lit .leftmenu {
  display: none;
}
.theme_lit .logoImg {
  display: none;
}
.theme_lit .logoImgRumi {
  display: none;
}
.theme_lit .logoImgOld {
  display: none;
}
.theme_lit .logoText:before {
  content: "Wapchan.";
  font-size: 100px;
}
body.theme_lit {
  font-family: 'Libre Baskerville', "ArimoNerdFont";
  color:black;
  background: url("https://wapchan.org/.static/lined_paper.png");
}
.theme_lit nav {
  background-color: #f9f9f9;
}
.theme_lit input, .theme_lit select, .theme_lit textarea {
  font-family: 'Libre Baskerville';
  background-color: transparent;
  color: black;
}
.theme_lit .boxbar {
  background-color: transparent;
}
.theme_lit .innerPost,
  .theme_lit .sideCatalogCell, .theme_lit .markedPost, .theme_lit .sideCatalogMarkedCell,
  .theme_lit .catalogCell {
  border: 1px solid black;
}
.theme_lit #newPostFieldset, .theme_lit #quick-reply table,
  .theme_lit .modalDecorationPanel, .theme_lit .floatingMenu,
  .theme_lit #settingsFieldset, .theme_lit .reportFieldset {
  border: 1px dashed black;
}
.theme_lit .topBoards a, .theme_lit #divLatestImages img,
  .theme_lit #divLatestPosts .latestPostCell, .theme_lit .innerPost,
  .theme_lit .sideCatalogCell, .theme_lit .markedPost, .theme_lit .sideCatalogMarkedCell,
  .theme_lit .catalogCell {
    background-color: transparent;
}
/* LIT THEME END */

/* MU THEME BEGIN */
body.theme_mu {
  font-family: 'Clarendon', "ArimoNerdFont";
  color: black;
  background: url("https://wapchan.org/.static/shapes.png");
}
.theme_mu .box, .theme_mu #siteBoardTable1, .theme_mu #siteBoardTable2 {
  background-color: #ffffff
}
/* MU THEME ENDB  */

/* TECH THEME BEGIN */
.theme_tech .leftmenu {
  display: none;
}
.theme_tech .logoImg {
  display: none;
}
.theme_tech .logoImgRumi {
  display: none;
}
.theme_tech .logoImgOld {
  display: none;
}
.theme_tech .logoText:before {
  content: "Wapchan";
  font-size: 100px;
}
body.theme_tech {

  background: #0054aa;
  color: white;
  font-family: 'TopazPlus a500';
}
.theme_tech input, .theme_tech select, .theme_tech textarea {
  font-family: 'TopazPlus a500';
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.theme_tech .box {
  color:white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.theme_tech .boxbar, .theme_tech nav{
  background-color: #fc8703;
}
.theme_tech a:link {
  color: white;
}
.theme_tech a:visited {
  color: white;
}
.theme_tech .topBoards a, .theme_tech .innerPost,
  .theme_tech .sideCatalogCell, .theme_tech .markedPost, .theme_tech .sideCatalogMarkedCell,
  .theme_tech .catalogCell, .theme_tech .floatingMenu, .theme_tech #quick-reply table {
    background: #fc8703;
}
.theme_tech input[type=button], .theme_tech input[type=submit],
.theme_tech button, .theme_tech .dropzone, .theme_tech .selectedCell
  {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 0.25em;
    font-size: 80%;
    font-weight: bold;
}
/* TECH THEME END */

/* CHILL THEME BEGIN */

/* CHILL THEME END */

/* CLASSIC THEME BEGIN */
body.theme_wc {
  background: url("../snow.gif") repeat, #1d1f21;
  font-family: 'Nine By Five NBP', "CozetteVector";
  color: #c5c8c6;
  letter-spacing: +0.075em;
}
.theme_wc .box {
  color:#c5c8c6;
  background-color: #282a2e;
}
.theme_wc .boxbar {
  background-color:#1D1F21;
}
.theme_wc .logoImg {
  display: none;
}
.theme_wc .logoImgRumi {
  display: none;
}
.theme_wc .logoImgOld {
  display: inline-block;
  height: 250px;
  min-width: 1px;
}
.theme_wc input, .theme_wc select, .theme_wc textarea {
  font-family: 'Nine By Five NBP', "CozetteVector";
  background-color: transparent;
  color: #c5c8c6;
  letter-spacing: +0.075em;
}
.theme_wc nav {
  background-color: rgba(40,42,46,0.9);
}
.theme_wc a, .theme_wc .unhideButton, .theme_wc .embedButton, .theme_wc #selectedTab,
.theme_wc #showFormsButton {
  color: rgb(154, 185, 242);
  cursor: pointer;
}
.theme_wc .topBoards a, .theme_wc .innerPost,
  .theme_wc .sideCatalogCell, .theme_wc .markedPost, .theme_wc .sideCatalogMarkedCell,
  .theme_wc .catalogCell {
    background: #282A2E;
}
.theme_wc .markedPost, .theme_wc .sideCatalogMarkedCell {
  background: rgba(20, 20, 20, 1);
  border-width: 1px;
  border-style: solid;
  border-color: #111;
}
.theme_wc input[type=button], .theme_wc input[type=submit],
  .theme_wc button, .theme_wc .dropzone, .theme_wc .selectedCell
  {
    border: 1px solid #111;
    background: #282a2e;
    color: #c5c8c6;
    padding-left: 0.25em;
    font-size: 80%;
    font-weight: bold;
}
.theme_wc input, .theme_wc select, .theme_wc textarea {
  background: #282a2e;
  border: 1px solid #111;
  color: #c5c8c6;
}
/* CLASSIC THEME END */

/* DIGI2 THEME START*/
.theme_digi2 .leftmenu {
  display: table-cell;
}
.theme_digi2 a:link {
  color: blue;
}
.theme_digi2 a:visited {
  color: purple;
}
.theme_digi2 .logoImg {
  display: none;
}
.theme_digi2 .logoImgRumi {
  display: none;
}
.theme_digi2 .logoImgOld {
  display: none;
}
.theme_digi2 .logoText:before {
  content: "Wapchan";
  display: block;
  font-family: 'Arial Pixelated 32';
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
}

.theme_digi2 .topBoards a, .theme_digi2 #divLatestImages img,
  .theme_digi2 #divLatestPosts .latestPostCell, .theme_digi2 .innerPost,
  .theme_digi2 .sideCatalogCell, .theme_digi2 .markedPost, .theme_digi2 .sideCatalogMarkedCell,
  .theme_digi2 .catalogCell {
  background-color: #d6daf0;
}
.theme_digi2 .floatingMenu, .theme_digi2 #quick-reply table {
  background: #3C393C;
}
.theme_digi2 .markedPost, .theme_digi2 .sideCatalogMarkedCell {
  background: #f0c0b0;
}
.theme_digi2 #divLatestPosts .latestPostCell, .theme_digi2 .innerPost,
  .theme_digi2 .sideCatalogCell, .theme_digi2 .markedPost, .theme_digi2 .sideCatalogMarkedCell,
  .theme_digi2 .catalogCell {
  border: none;
}
.theme_digi2 #newPostFieldset, .theme_digi2 #quick-reply table,
  .theme_digi2 .modalDecorationPanel, .theme_digi2 .floatingMenu,
  .theme_digi2 #settingsFieldset, .theme_digi2 .reportFieldset {
  border: 1px dashed #117743;
}
.theme_digi2 hr {
  border-color: #117743;
}
.theme_digi2 a, .theme_digi2, .theme_digi2 .unhideButton,
  .theme_digi2 .embedButton, .theme_digi2 #selectedTab, .theme_digi2 #showFormsButton {
  color: #000;
}
.theme_digi2 input, .theme_digi2 select, .theme_digi2 textarea {
  background: #eef2ff;
  border: 1px double black;
  color: black;
}
.theme_digi2 input[type=button], .theme_digi2 input[type=submit],
  .theme_digi2 button, .theme_digi2 .dropzone, .theme_digi2 .selectedCell
  {
  border: 1px solid black;
  background: transparent;
  color: black;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
}
body.theme_digi2 {

  background: #eef2ff;
  color: black;
  font-family: 'Arial Pixelated 16';
}
.theme_digi2 nav {
  background-color: #eef2ff;
}
.theme_digi2 .leftmenu {
  font-size: 10px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  width: 15%;
  padding: 20px 10px 10px 10px;
}
.theme_digi2 .box {
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid black;
  color:black;
}
.theme_digi2 .boxbar {
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid black;
  color:black;
  font-weight: 700;
  padding: 5px;
  background-color: transparent;
}
.theme_digi2 #randomQuote {
  font-size: 18px;
  font-style: italic;
}
.theme_digi2 .linkBarrierStart:before {
  content: '[';
}
.theme_digi2 .linkBarrierEnd:before {
  content: ']';
}
.theme_digi2 .linkBarrierDivider:before {
  content: ' | ';
}
.theme_digi2 #linkAbout:before {
  content: 'About';
}
.theme_digi2 #linkRules:before {
  content: 'Rules';
}
.theme_digi2 #linkBanners:before {
  content: 'Banners';
}
.theme_digi2 #linkCinema:before {
  content: 'Cinema';
}
.theme_digi2 #linkLinks:before {
  content: 'Links';
}
.theme_digi2 #siteBoardBox {
  display: none;
}
.theme_digi2 .boardHeader p {
  color: black;
}
.theme_digi2 input, .theme_digi2 select, .theme_digi2 textarea {
  font-family: 'Arial Pixelated 16';
}
/* DIGI2 THEME END */

/* FONT OVERRIDE BEGIN */
.font_override, body.font_override, .font_override select, .font_override .dropzone {
  font-family: "ArimoNerdFont", Helvetica, sans-serif !important;
  letter-spacing: 0em !important;
}
/* FONT OVERRIDE END */