/*Elements exclusive to the front-page*/
#indexWrapper {
  width: 80%;
  margin: 0 auto;
}

#logoBox {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: center;
}

#infoBox {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 1em auto 2em;
  font-size: 120%;
}

#links, #divStats {
  padding: 0.5em;
  font-size: 75%;
  text-align: center;
}

#links a {
  text-decoration: none;
}

.topBoards {
  width: 100%;
  text-align: center;
  margin: 1em 0px;
}

.topBoards a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  margin: 0.5em 0.25em;
  display: inline-block;
  font-size: 90%;
}
#descBox {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#divLatestPosts {
  width: 97%;
  margin: 1em;
  text-align: center;
}

#divLatestPosts .latestPostCell {
  overflow: hidden;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-height: 8em;
  font-size: 11pt;
  text-align: left;
  padding: 5px;
}

.latestPostCell a {
  display: block;
}

#divLatestImages {
  margin: 0 auto;
  text-align: center;
}

#divLatestImages .latestImageCell {
  display: inline-block;
  max-width: 15%;
  margin: 0 0.5em;
  vertical-align: middle;
}

#divLatestImages img {
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
}
#randomQuote {
  color: #c5c8c6;
}

@media only screen and (max-width: 812px) {
  .topBoards, #divLatestPosts {
    margin: 0;
  }
  #indexWrapper {
    width: 99%;
  }
  #links a, #divStats {
    font-size: 153%;
  }
  #linkEngine {
    display: none;
  }
}
