#settingsMenu {
  position: fixed;
  left: 100px;
  top: 25px;
  z-index: 100;
}

#closeSettingsMenuButton {
  float: right;
}

#closeSettingsMenuButton::before {
  content: '\e0db';
}

.settingsTab {
  font-size: 80%;
  cursor: pointer;
  margin: 0.5em;
}

#selectedTab {
  color: #FFB300;
  text-shadow: 0px 0px 5px #117743;
}

#settingsMenuContent {
  padding: 0.25em
}

#newFilterPanel * {
  margin: 0.5em
}

.settingsLabel {
  font-size: 80%;
}