#mainPanel, #sideCatalog {
  overflow-y: auto;
  height: calc(100vh - 22px);
  margin-top: 22px;
}

#navSideCatalog:before {
  content: "\e088";
}

#sideCatalog {
  float: right;
  padding: 0 10px 0 10px;
  min-width: 300px;
  margin-top: 0;
}

#sideCatalogBody hr {
  clear: both;
}

header {
  margin-top: 36px;
}

#closeSideCatalogButton {
  display: table-cell;
  text-align: right;
}

#sideCatalogHeader {
  display: table;
  width: 100%;
}

#sideCatalogBody a {
  display: block;
  cursor: pointer;
  background: #282A2E;
  border: 1px solid #117743;
  border-radius: 5px;
  padding: 0.5em;
}

#sideCatalogBody img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 125px;
  max-height: 125px;
}

.sideCatalogCellText {
  vertical-align: top;
}

.sideCatalogCellText span {
  display: block;
}