/*Elements that show on threads on both catalogs and regular posting places*/
@font-face {
  font-family: "SymbolsNerdFont";
  src: url("../fonts/SymbolsNerdFont-Regular.woff2") format("woff2"),
  url("../fonts/SymbolsNerdFont-Regular.woff") format("woff");
}
.lockIndicator:before, .pinIndicator:after, .archiveIndicator:after, .cyclicIndicator:after, .bumpLockIndicator:after { 
  font-family: "SymbolsNerdFont";
  color: #A00;
}

.lockIndicator:before {
  content: "\f456";
}

.pinIndicator:after {
  content: "\f435";
}

.archiveIndicator:after {
  content: "\f411";
}

.cyclicIndicator:after {
  content: "\f139d";
}

.bumpLockIndicator:after {
  content: "\f0fcc";
}

.galleryImage {
  max-width: 80vw;
  max-height: 80vh;
}

.contentAction label, .contentAction img {
  display: block;
}

#selectedDiv, #selectedDivQr {
  max-height: 200px;
  display: inline-block;
  overflow-y: auto;
}