/*Elements exclusive from the thread page*/
.divRefresh {
  display: block;
  padding: 0;
  height: 1.5em;
}

.divRefresh label, .divRefresh input {
  display: inline-block;
  margin: 0;
  font-size: 80%;
}

#divControls, #transferControls, #ipDelete {
  margin: 1em;
}