/*
    ____                 __       __ ____                   __ __ _  __      __ _ 
   / __ ) ____   ____   / /__   _/_// __/____   _____     _/_// /(_)/ /_   _/_/| |
  / __  |/ __ \ / __ \ / //_/  / / / /_ / __ \ / ___/   _/_/ / // // __/ _/_/  / /
 / /_/ // /_/ // /_/ // ,<    / / / __// /_/ // /     _/_/  / // // /_ _/_/   / / 
/_____/ \____/ \____//_/|_|  / / /_/   \____//_/     /_/   /_//_/ \__//_/   _/_/  
                             |_|                                           /_/
Book looks like a fancy paperback.
*/
.theme_lit a,
.theme_lit .unhideButton,
.theme_lit .embedButton,
.theme_lit #selectedTab,
#showFormsButton {
  color: black;
  cursor: pointer;
}

.theme_lit .leftmenu {
  display: none;
}

.theme_lit .logoImg {
  display: none;
}

.theme_lit .logoImgRumi {
  display: none;
}

.theme_lit .logoImgOld {
  display: none;
}

.theme_lit .logoText:before {
  content: "Wapchan.";
  font-size: 100px;
}
.theme_lit .topBoards a,
.theme_lit .innerPost,
.theme_lit .sideCatalogCell,
.theme_lit .markedPost,
.theme_lit .sideCatalogMarkedCell,
.theme_lit .catalogCell,
.theme_lit .floatingMenu,
.theme_lit #post-form-inner,
.theme_lit .quoteTooltip,
.theme_lit .galleryText,
.theme_lit #postingForm th,
.theme_lit .modalTableBody th {
  background: transparent;
}

.theme_lit #quick-reply {
  background: white;
  border: 1px solid black;
}

body.theme_lit {
  font-family: 'PixelTimesNewRoman', "ArimoNerdFont";
  font-size: 150%;
  color: black;
  background-color: #FFFAE5;
}
@media only screen and (max-width: 800px) {
  body.theme_lit {
    font-size: 150%;
  }
}
.theme_lit .linkSelf, .theme_lit .linkQuote {
  color: #7FC9FF;
  font-style: italic;
}
.theme_lit .quoteTooltip {
  background-color: #FFFAE5;
}
.theme_lit nav, .theme_lit .dropdown-content {
  background-color: #f8f8f8;
}
.theme_lit .droptext {
  color: black;
}
.theme_lit input,
.theme_lit select,
.theme_lit textarea {
  font-family: 'PixelTimesNewRoman', 'ArimoNerdFont';;
  background-color: transparent;
  color: black;
}

.theme_lit .boxbar {
  background-color: transparent;
}

.theme_lit .innerPost,
.theme_lit .sideCatalogCell,
.theme_lit .markedPost,
.theme_lit .sideCatalogMarkedCell,
.theme_lit .catalogCell {
  border: 1px solid black;
}

.theme_lit #post-form-inner,
.theme_lit .modalDecorationPanel,
.theme_lit .floatingMenu,
.theme_lit #settingsFieldset,
.theme_lit .reportFieldset {
  border: 1px dashed black;
  background: #f8f8f8;
}

.theme_lit .topBoards a,
.theme_lit #divLatestImages img,
.theme_lit #divLatestPosts .latestPostCell,
.theme_lit .innerPost,
.theme_lit .sideCatalogCell,
.theme_lit .markedPost,
.theme_lit .sideCatalogMarkedCell,
.theme_lit .catalogCell {
  background-color: #A09D90;
}

.theme_lit .extraMenuButton:first-of-type, .theme_lit .hideButton:first-of-type {
  color: #6D6B62;
}

.theme_lit .extraMenuButton, .theme_lit .hideButton {
  color: #3F3E39;
}



.theme_lit .box {
  color: black;
  background-color: transparent;
}

.theme_lit .labelSubject {
  color: black;
}

.theme_lit .boardHeader p {
  color: black;
  text-shadow: 1px 1px 1px rgba(167, 170, 168, 0.6);
}
.theme_lit #randomQuote {
    color: black;
  }

.theme_lit #siteBoardTableLeft,
.theme_lit #siteBoardTableRight,
.theme_lit #imageList,
.theme_lit #divLatestPosts,
.theme_lit #siteBoardTable2 {
  background-color: transparent;
}
.theme_lit #siteBoardTable2 {
  border: 1px solid black;
  
}
.theme_lit input[type="button"],
.theme_lit input[type="submit"],
.theme_lit button,
.theme_lit .dropzone,
.theme_lit .selectedCell {
  background: transparent;
  color: black;
  padding-left: 0.25em;
  font-size: 80%;
  font-weight: bold;
  font-family: 'PixelTimesNewRoman', 'ArimoNerdFont';
}