/*
 _       __        __ __                                __ ____                   __                      __ _ 
| |     / /____ _ / // /__ ____ ___   ____ _ ____     _/_// __/____   _____     _/_/____ ___   __  __   _/_/| |
| | /| / // __ `// // //_// __ `__ \ / __ `// __ \   / / / /_ / __ \ / ___/   _/_/ / __ `__ \ / / / / _/_/  / /
| |/ |/ // /_/ // // ,<  / / / / / // /_/ // / / /  / / / __// /_/ // /     _/_/  / / / / / // /_/ /_/_/   / / 
|__/|__/ \__,_//_//_/|_|/_/ /_/ /_/ \__,_//_/ /_/  / / /_/   \____//_/     /_/   /_/ /_/ /_/ \__,_//_/   _/_/  
                                                   |_|                                                  /_/
Walkman is an 80s looking theme with a font resembiling the ones used in 70s/80s Sony print advertizing. 
*/
.theme_mu .boardHeader p {
  color: black;
  text-shadow: 1px 1px 1px rgba(167, 170, 168, 0.6);
}

body.theme_mu {
  font-family: 'Clarendon', "ArimoNerdFont";
  color: black;
  background: url("https://wapchan.org/.static/shapes-light.png");
}

.theme_mu .box,
.theme_mu #siteBoardTable1,
.theme_mu #siteBoardTable2 {
  background-color: #ffffff;
  color: black;
}
.theme_mu #randomQuote {
  color: black;
}
.theme_mu nav, .theme_mu .dropdown-content {
  background-color: #ffffff;
  color: black;
}
.theme_mu .boxbar {
  background-color: transparent;
}
.theme_mu .innerPost,
.theme_mu #postingForm th,
.theme_mu .markedPost {
  background: rgba(256, 256, 256, .75)
}
.theme_mu input,
.theme_mu select,
.theme_mu textarea {
  font-family: 'Clarendon', "ArimoNerdFont";
  background-color: rgba(256, 256, 256, .75);
  color: black;
}
.theme_mu .labelSubject {
  color: rgb(0, 64, 255);
}
.theme_mu .noEmailName,
.theme_mu .noEmailName:hover {
  color: rgb(188, 3, 255);
}
.theme_mu a,
.theme_mu .unhideButton,
.theme_mu .embedButton,
.theme_mu #selectedTab,
.theme_mu #showFormsButton {
  color: rgb(0, 64, 255);
}
.theme_mu #siteBoardTable2 {
  border-spacing: 0px;
  width: 100%;
  border: 2px solid;
  background-color: rgba(256, 256, 256, .75);
}
.theme_mu #siteBoardTableLeft,
.theme_mu #siteBoardTableRight,
.theme_mu #imageList {
  background-color: transparent;
}
.theme_mu input[type=button],
.theme_mu input[type=submit],
.theme_mu input[type=checkbox],
.theme_mu button,
.theme_mu .dropzone,
.theme_mu .selectedCell {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  padding-left: 0.25em;
  font-size: 80%;
  font-family: 'Clarendon', "ArimoNerdFont";
}
.theme_mu .topBoards a,
.theme_mu .innerPost,
.theme_mu .sideCatalogCell,
.theme_mu .markedPost,
.theme_mu .sideCatalogMarkedCell,
.theme_mu .catalogCell,
.theme_mu .floatingMenu,
.theme_mu #post-form-inner,
.theme_mu .galleryText {
  background-color: rgba(256, 256, 256, 1);
}