<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="/.static/global.css" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/gif" href="/.static/favicon.gif" />
<script src="/.static/settings.js" defer></script>
<script src="/.static/api.js" defer></script>
<script src="/.static/archiveDeletion.js" defer></script>
</head>
<body>
  
  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="/.static/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend>Archive Deletion</legend>
      
      <form
          action="/deleteArchivedBoard.js"
          method="post"
          enctype="multipart/form-data">
          
        <h3>Delete Entire Board</h3>
        
        <label>Board URI:
          <input
            type="text"
            name="boardUri"
            id="boardBoardField">
        </label>
        
        <input
          type="submit"
          value="Delete Board"
          id="boardFormButton">
          
        <input
          type="button"
          onClick="deleteBoard()"
          value="Delete Board"
          id="boardJsButton"
          class="hidden">
          
      </form>
      
      <hr />
  
      <form
          action="/deleteArchivedThread.js"
          method="post"
          enctype="multipart/form-data">
        <h3>Delete Thread</h3>
        
        <label>Board URI:
          <input type="text"
            name="boardUri"
            id="threadBoardField">
        </label>
        
        <label>Thread ID:
          <input
            type="text"
            name="threadId"
            id="threadThreadField">
        </label>
        
        <input
          type="submit"
          value="Delete Thread"
          id="threadFormButton">
        
        <input
          type="button"
          onClick="deleteThread()"
          value="Delete Thread"
          id="threadJsButton"
          class="hidden">
        
      </form>
        
      <hr />
      
      <form
          action="/deleteArchivedUpload.js"
          method="post"
          enctype="multipart/form-data">
      
        <h3>Delete Files</h3>
        
          <label>Board URI:
            <input
              type="text"
              name="boardUri"
              id="fileBoardField">
          </label>
          
          <label>File Name (ex. file1.png<sup>*</sup>):
            <input
              type="text"
              name="filename"
              id="fileFileField">
          </label>
          
          <input
            type="submit"
            value="Delete File(s)"
            id="fileFormButton">
          
          <input
            type="button"
            onClick="deleteFile()"
            value="Delete File(s)"
            id="fileJsButton"
            class="hidden">
          
          <p><sup>*</sup> Thumbnails must be deleted as separate files, you can separate files using commas</p>
          
        </form>
        
    </fieldset>
    
  </div>

</body>
</html>