<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="//static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="//static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
<script src="//static.localhost:8080/settings.js" defer></script>
<script src="//static.localhost:8080/api.js" defer></script>
<script src="//static.localhost:8080/bannerManagement.js" defer></script>
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="//localhost:8080/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="//localhost:8080/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="//static.localhost:8080/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>
  
  <header>
    <img src="//static.localhost:8080/logo.png" alt="logo" />
  </header>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend>New Banner</legend>
      
      <form
          action="/createBanner.js"
          method="post"
          enctype="multipart/form-data">
      
        <input
          type="hidden"
          name="boardUri"
          id="boardIdentifier">
        
        <input
          type="file"
          id="files"
          name="files">
        
        <input
          type="submit"
          value="Add banner"
          id="addFormButton">
        
        <input
          type="button"
          onClick="addBanner()"
          value="Add banner"
          id="addJsButton"
          class="hidden">
        
        <p>Maximum size allowed: <span id="maxSizeLabel"></span></p>
        
      </form>
      
      <hr />
      
      <div id="bannersDiv" class="banners"></div>
      
    </fieldset>
    
  </div>
  
</body>
</html>