<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="/.static/global.css" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/gif" href="/.static/favicon.gif" />
<script src="/.static/settings.js" defer></script>
<script src="/.static/api.js" defer></script>
<script src="/.static/bans.js" defer></script>
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="/.static/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>
  
  <header>
    <img src="/.static/logo.png" alt="logo" />
  </header>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend>Bans</legend>
      
      <div id="bansDiv"></div>
      
    </fieldset>
  
  </div>

</body>
</html>