<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="//static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="//static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
<script src="//static.localhost:8080/settings.js" defer></script>
<script src="//static.localhost:8080/api.js" defer></script>
<script src="//static.localhost:8080/reports.js" defer></script>
<script src="//static.localhost:8080/boardManagement.js" defer></script>
<script src="//static.localhost:8080/bans.js" defer></script>
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="//localhost:8080/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="//localhost:8080/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="//static.localhost:8080/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>
  
  <header>
    <img src="//static.localhost:8080/logo.png" alt="logo" />
  </header>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend id="boardLabel"></legend>
      
      <p><a href="/account.js">Account</a></p>
      <p><a id="linkSelf">Board's front-page</a></p>
    
      <div id="ownerControlDiv">
      
        <hr />
        
        <h3>Add volunteer</h3>
        
        <form
            action="/setVolunteer.js"
            method="post"
            enctype="multipart/form-data">
            
          <label>User login:
            <input
              type="text"
              name="login"
              id="addVolunteerFieldLogin">
          </label>
          
          <input
            type="hidden"
            name="add"
            value=true>
            
          <input
            type="hidden"
            name="boardUri"
            id="addVolunteerBoardIdentifier">
          <input
            type="button"
            onClick="addVolunteer()"
            id="addVolunteerJsButton"
            value="Add volunteer"
            class="hidden">
          <input
            type="submit"
            id="addVolunteerFormButton"
            value="Add volunteer">
        </form>
        
        <hr />
        
        <h3>Ownership transfer</h3>
        
        <form
            action="/transferBoardOwnership.js"
            method="post"
            enctype="multipart/form-data">
          <label>User login:
            <input
              type="text"
              name="login"
              id="transferBoardFieldLogin">
          </label>
          <input
            type="hidden"
            name="boardUri"
            id="transferBoardIdentifier">
          <input
            type="button"
            onClick="transferBoard()"
            id="transferBoardJsButton"
            value="Transfer board"
            class="hidden">
          <input
            type="submit"
            id="transferBoardFormButton"
            value="Transfer board">
        </form>
        
        <hr />
        
        <h3>Delete board</h3>
        
        <form
            method="post"
            action="/deleteBoard.js"
            enctype="multipart/form-data">
          <label>
            <input
              type="checkbox"
              name="confirmDeletion"
              id="confirmDelCheckbox">
            Yes, I wish to delete this board
          </label>
          <input
            id="deletionIdentifier"
            name="boardUri"
            type="hidden">
          <input
            type="submit"
            value="Delete board"
            id="deleteBoardFormButton">
          <input
            type="button"
            class="hidden"
            id="deleteBoardJsButton"
            onClick="deleteBoard()"
            value="Delete board">
        </form>
        
        <hr />
        
        <h3>Custom CSS</h3>
        
        <p>Upload without any files to delete the custom CSS</p>
        
        <form
            action="/setCustomCss.js"
            method="post"
            enctype="multipart/form-data">
          <input
              type="hidden"
              name="boardUri"
              id="customCssIdentifier">
          <input
              type="file"
              id="files"
              name="files">
          <input
              id="cssFormButton"
              type="submit"
              value="Upload CSS">
          <input
              type="button"
              onclick="setCss()"
              id="cssJsButton"
              class="hidden"
              value="Upload CSS">
        </form>
        
        <hr />
        
        <h3>Custom JavaScript</h3>
        
        <p>Upload without any files to delete the custom JavaScript</p>
        
        <form
            action="/setCustomJs.js"
            method="post"
            id="customJsForm"
            enctype="multipart/form-data">
          <input
              type="hidden"
              name="boardUri"
              id="customJsIdentifier">
          <input
              type="file"
              id="JsFiles"
              name="files">
          <input
              id="jsFormButton"
              type="submit"
              value="Upload Js">
          <input
              type="button"
              onclick="setJs()"
              id="jsJsButton"
              class="hidden"
              value="Upload Js">
        </form>
        
        <hr />
        
        <h3>Custom Spoiler</h3>
        
        <p>Upload without any files to delete the custom spoiler</p>
        
        <div id="customSpoilerIndicator">
          <p>There is a custom spoiler saved for this board</p>
        </div>
        
        <form
            action="/setCustomSpoiler.js"
            method="post"
            enctype="multipart/form-data">
          <input
              type="hidden"
              name="boardUri"
              id="customSpoilerIdentifier">
          <input
              type="file"
              id="filesSpoiler"
              name="files">
          <input
              id="spoilerFormButton"
              type="submit"
              value="Upload custom spoiler">
          <input
              type="button"
              onclick="setSpoiler()"
              id="spoilerJsButton"
              class="hidden"
              value="Upload custom spoiler">
        </form>

      <hr />
      
      <h3>Volunteers</h3>
      
      <div id="volunteersDiv"></div>
      
      <hr />
      
      <h3>Settings</h3>
      
      <form
          action="/setBoardSettings.js"
          method="post"
          enctype="multipart/form-data">
        <input
              type="hidden"
              id="boardSettingsIdentifier"
              name="boardUri">
        <label>Board name:
          <input
              id="boardNameField"
              type="text"
              name="boardName">
          </label>
        <label for="boardDescriptionField">Board description:</label>
        <input
              id="boardDescriptionField"
              type="text"
              name="boardDescription"
              class="wide">
        <label>Anonymous name:
          <input
              id="anonymousNameField"
              type="text"
              name="anonymousName">
        </label>
        <label>Hourly thread limit (locks thread creation temporarily if exceeded):
          <input
              id="hourlyThreadLimitField"
              type="text"
              name="hourlyThreadLimit">
        </label>
        <label>Enable captcha if this many threads are created within one hour:
          <input
              id="autoCaptchaThresholdField"
              type="text"
              name="autoCaptchaLimit">
        </label>
        <label for="tagsField">Tags (separate with commas):</label>
        <input
              type="text"
              id="tagsField"
              name="tags"
              class="wide">
        <label for="boardMessageField">Board Message:</label>
        <textarea
              name="boardMessage"
              id="boardMessageField"
              class="wide"></textarea>
        <label>
          <input
              type="checkbox"
              name="disableIds"
              id="disableIdsCheckbox">
          Disable thread-wise ids
        </label>
        <label>
          <input
              type="checkbox"
              name="requireThreadFile"
              id="requireFileCheckbox">
          Require at least one file for new threads
        </label>
        <label>
          <input
              type="checkbox"
              name="blockDeletion"
              id="blockDeletionCheckbox">
          Block users from deleting their posts
        </label>
        <label>
          <input
              type="checkbox"
              name="archive"
              id="enableArchiveCheckbox">
          Archive content
        </label>
        <label>
          <input
              type="checkbox"
              name="allowCode"
              id="allowCodeCheckbox">
          Allow use of code tags
        </label>
        <label>
          <input
              type="checkbox"
              name="disableCaptcha"
              id="disableCaptchaCheckbox">
          Disable captcha
        </label>
        <label>
          <input
              type="checkbox"
              name="unindex"
              id="unindexCheckbox">
          Don't index on top boards and board list.
        </label>
        <label>
          <input
              type="checkbox"
              name="forceAnonymity"
              id="forceAnonymityCheckbox">
            Force anonymity
        </label>
        <label>
          <input
              type="checkbox"
              name=early404
              id="early404Checkbox">
          Early 404: threads that are not replied at least 5 times will be deleted after an hour.
        </label>
        <label>
          <input
            type="checkbox"
            name="uniqueFiles"
            id="uniqueFilesCheckbox">
          Unique Files
        </label>
        <label>
          <input
            type="checkbox"
            name="uniquePosts"
            id="uniquePostsCheckbox">
          Unique Posts
        </label>
        <input
              type="button"
              value="Save"
              onClick="saveSettings()"
              class="hidden"
              id="saveSettingsJsButton">
        <input
              type="submit"
              value="Save"
              id="saveSettingsFormButton">
      </form>
      
      <p><a id="bannerManagementLink">Manage banners</a></p>
      <p><a id="filterManagementLink">Manage filters</a></p>
      <p><a id="ruleManagementLink">Manage rules</a></p>
      <p><a id="flagManagementLink">Manage flags</a></p>
      
      <hr />
      
    </div>
    
    <p><a id="proxyBansLink">Proxy Bans</a></p>
    <p><a id="rangeBansLink">Range bans</a></p>
    <p><a id="hashBansLink">Hash bans</a></p>
    <p><a id="bansLink">Bans</a></p>
    <p><a id="closedReportsLink">Closed reports</a></p>
    
    <hr />
    
    <h3>Open reports</h3>
    
    <div id="reportDiv"></div>
    
    <hr />
    
    <h3>Appealed bans</h3>
    
    <div id="appealedBansPanel"></div>
    
    </fieldset>
    
  </div>
  
</body>
</html>
