<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/font-awesome.min.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.localhost:8080/settings.js" defer></script>
<script src="http://static.localhost:8080/api.js" defer></script>
<script src="http://static.localhost:8080/board.js" defer></script>
<script src="http://static.localhost:8080/posting.js" defer></script>
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="http://localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>

  <!-- board header -->
  <header class="boardHeader">
    <img id="bannerImage" />
    <p id="labelName"></p>
    <p id="labelDescription"></p>
    <p><a href="catalog.html">Catalog</a></p>
  </header>
  
  <!-- new thread box -->
  <div id="postBox">
    <form
      class="form-post"
      action="../newThread.js"
      enctype="multipart/form-data"
      method="post">
    <table>
    
      <tr>
        <th>Name</th>
        <td>
          <div id="divName">
            <input
            type="text"
            id="fieldName"
            name="name">
          </div>
        </td>
      </tr>
      
      <tr>
        <th>Email</th>
        <td>
          <input
            type="text"
            id="fieldEmail"
            name="email">
        </td>
      </tr>
      
      <tr>
        <th>Subject</th>
        <td>
          <input
            type="text"
            id="fieldSubject"
            name="subject">
          <button
            type="submit"
            id="formButton">
            New Topic
          </button>
          <button
            type="button"
            onClick="postThread()"
            id="jsButton"
            class="hidden">
            New Topic
          </button>
        </td>
      </tr>
      
      <tr>
        <th>Comment</th>
        <td>
          <textarea
            id="fieldMessage"
            name="message"></textarea>
        </td>
      </tr>
      
      <tr>
        <th>Password</th>
        <td>
          <input
            type="password"
            name="password"
            id="fieldPostingPassword">
        </td>
      </tr>
      
      <tr>
        <th>File(s)</th>
          <td>
            <input
              type="file"
              name="files"
              id="files"
              multiple>
          </td>
      </tr>
      
      <tr>
        <td class="options" colspan="2">
          <label class="spoilerCheckbox">
            <input
              type="checkbox"
              name="spoiler"
              id="checkboxSpoiler">
              Spoiler
          </label>
          <div id="flagsDiv">
            <select
              name="flag" 
              id="flagCombobox">
            </select>
         </div>
        </td>
      </tr>
    </table>
    
    <div id="captchaDiv">
      <img src="/captcha.js"
        id="captchaImage" />
      <div>
      <input
        name="captcha"
        type="text"
        id="fieldCaptcha"
        placeholder="Answer">
      <input
        type="button"
        onClick="reloadCaptcha()"
        value="Reload"
        id="reloadCaptchaButton"
        class="hidden">
      <a href="/noCookieCaptcha.js" class="small">No cookies?</a>
      </div>
    </div>
    <input
      type="hidden"
      name="boardUri"
      id="boardIdentifier">
    <p class="small">Remember to follow the <a href="rules.html">rules</a></p>
    <p class="small">Max file size: <span id="labelMaxFileSize"></span></p>
    <p class="small">Max files: {put a number here}</p>
    </form>
  </div>

  <!-- message panel -->
  <div id="panelMessage">
    <hr>
    <div id="divMessage">
    </div>
    <hr>
  </div>
  
  <!-- threads list, divThreads holds the threads and the whole thing is wrapped in a form for reporting -->
  <div id="threadList">
    <form
        action="../contentActions.js"
        method="post"
        enctype="multipart/form-data">
      <div id="divThreads">
      </div>
      <hr />
      <div class="threadPages">
        <span class="divPages">[
          <a id="linkPrevious">&lt;</a>
          <span id="divPages"></span>
          <a id="linkNext">&gt;</a>
        ]</span>
        <a href="catalog.html">[catalog]</a>
        <a id="linkManagement">[manage</a>
        <span>/</span>
        <a id="linkModeration">global manage]</a>
      </div>
  </div>
  
  <div id="threadReport" class="contentAction">
          <label>Reason<input
            type="text"
            name="reason"
            id="reportFieldReason">
          </label>
          <label>Password<input
            type="password"
            name="password"
            id="deletionFieldPassword">
          </label>
          <label class="checkbox"><input
            type="checkbox"
            name="global"
            id="checkboxGlobal">
            Global
          </label>
          <label class="checkbox"><input
            type="checkbox"
            name="deleteUploads"
            id="checkboxOnlyFiles">
            Delete only files
          </label>
          <img src="/captcha.js" id="captchaImageReport" />
          <div class="buttonBox">
            <input
              name="captcha"
              type="text"
              id="fieldCaptchaReport"
              placeholder="Answer">
            <input
              type="button"
              class="hidden"
              id="reloadCaptchaButtonReport"
              onclick="reloadCaptcha()"
              value="Reload">
            <a href="/noCookieCaptcha.js" class="small">No cookies?</a>
          </div>
          <div class="buttonBox">
            <input
              type="submit"
              id="deleteFormButton"
              value="Delete"
              name="action">
            <input
              type="button"
              class="hidden"
              id="deleteJsButton"
              onClick="deletePosts()"
              value="Delete">
            <input
              type="submit"
              id="reportFormButton"
              value="Report"
              name="action">
            <input
              type="button"
              class="hidden"
              id="reportJsButton"
              onClick="reportPosts()"
              value="Report">
          </div>
      </div>
    </form>
  </div>

</body>
</html>