<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="//static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="//static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
<script src="//static.localhost:8080/settings.js" defer></script>
<script src="//static.localhost:8080/api.js" defer></script>
<script src="//static.localhost:8080/board.js" defer></script>
<script src="//static.localhost:8080/posting.js" defer></script>
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="//localhost:8080/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="//localhost:8080/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="//static.localhost:8080/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
      <span>[</span>
      <a href="#" id="linkTop"></a>
      <span>/</span>
      <a href="#footer" id="linkBottom"></a>
      <span>/</span>
      <a href="catalog.html" id="navCatalog">catalog</a>
      <span>]</span>
    </span>
  </nav>

  <header class="boardHeader">
    <img id="bannerImage" />
    <p id="labelName"></p>
    <p id="labelDescription"></p>
  </header>
  
  <div id="postWrapper">
    <fieldset id="newPostFieldset">
      <legend>Mode: Thread</legend>
      <form
          class="form-post"
          action="../newThread.js"
          enctype="multipart/form-data"
          method="post">
        <div id="postBox">
          <div id="divName" class="wider">
            <input
            type="text"
            id="fieldName"
            name="name"
            placeholder="name"
            class="text">
          </div>
          <div class="wider">
            <input
              type="text"
              id="fieldEmail"
              name="email"
              class="text"
              placeholder="email">
          </div>
          <div class="wider">
            <input
              type="text"
              id="fieldSubject"
              name="subject"
              class="text"
              placeholder="subject">
          </div>
          <div>
            <textarea
              id="fieldMessage"
              name="message"
              class="text"
              placeholder="message"></textarea>
          </div>
          <div>
            <input
              type="test"
              name="password"
              id="fieldPostingPassword"
              class="text"
              placeholder="password">
            <input
              type="checkbox"
              name="spoiler"
              id="checkboxSpoiler">
            <label for="checkboxSpoiler" class="spoilerCheckbox">Spoiler</label>
            <div id="flagsDiv">
              <select
                name="flag" 
                id="flagCombobox">
              </select>
            </div>
          </div>
          <div>
            <input
              type="file"
              name="files"
              id="files"
              multiple
              class="fileBrowser">
          </div>
        </div>
      <div id="captchaDiv">
        <img src="/captcha.js"
          id="captchaImage" />
        <div>
        <input
          name="captcha"
          type="text"
          id="fieldCaptcha"
          placeholder="answer">
        <input
          type="button"
          onClick="reloadCaptcha()"
          value="Reload"
          id="reloadCaptchaButton"
          class="hidden">
        <a href="/noCookieCaptcha.js" class="small">no cookies?</a>
        </div>
      </div>
      <button
        type="submit"
        id="formButton">
        Post
      </button>
      <button
        type="button"
        onClick="postThread()"
        id="jsButton"
        class="hidden">
        Post
      </button>
      <input
        type="hidden"
        name="boardUri"
        id="boardIdentifier">
      <p class="small">Remember to follow the <a href="rules.html" class="rules">rules</a></p>
      <p class="small">Max file size: <span id="labelMaxFileSize"></span></p>
      <p class="small">Max files: 5</p>
      </form>
    </fieldset>
  </div>

  <div id="panelMessage">
    <hr>
    <div id="divMessage">
    </div>
    <hr>
  </div>
  
  <div id="threadList">
    <form
        action="../contentActions.js"
        method="post"
        enctype="multipart/form-data">
      <div id="divThreads">
      </div>
      <hr />
      <div class="threadPages">
        <span class="divPages">[
          <a id="linkPrevious"></a>
          <span id="divPages"></span>
          <a id="linkNext"></a>
        ]</span>
        <div id="boardLinks">
          <a id="linkManagement">[manage</a>
          <span>/</span>
          <a id="linkModeration">global manage]</a>
        </div>
      </div>
  
    <fieldset id="reportFieldset">
      <legend>Report</legend>
      <div id="threadReport" class="contentAction">
          <input
            type="text"
            name="reason"
            id="reportFieldReason"
            placeholder="reason">
          </label>
          <input
            type="password"
            name="password"
            id="deletionFieldPassword"
            placeholder="password">
          </label>
          <div>
            <label class="checkbox"><input
              type="checkbox"
              name="global"
              id="checkboxGlobal">
              Global
            </label>
            <label class="checkbox"><input
              type="checkbox"
              name="deleteUploads"
              id="checkboxOnlyFiles">
              Delete only files
            </label>
          </div>
          
          <img src="/captcha.js" id="captchaImageReport" />
          
          <div class="buttonBox">
          
            <input
              name="captcha"
              type="text"
              id="fieldCaptchaReport"
              placeholder="answer">
              
            <input
              type="button"
              class="hidden"
              id="reloadCaptchaButtonReport"
              onclick="reloadCaptcha()"
              value="Reload">
              
            <a href="/noCookieCaptcha.js" class="small">no cookies?</a>
            
          </div>
          
          <div class="buttonBox">
          
            <input
              type="submit"
              id="deleteFormButton"
              value="Delete"
              name="action">
              
            <input
              type="button"
              class="hidden"
              id="deleteJsButton"
              onClick="deletePosts()"
              value="Delete">
              
            <input
              type="submit"
              id="reportFormButton"
              value="Report"
              name="action">
              
            <input
              type="button"
              class="hidden"
              id="reportJsButton"
              onClick="reportPosts()"
              value="Report">
              
          </div>
          
        </div>
        
      </fieldset>
      
    </form>
    
  </div>
  
  <footer id="footer">
  </footer>
  
</body>
</html>