<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.localhost:8080/settings.js" defer></script>
<script src="http://static.localhost:8080/api.js" defer></script>
<script src="http://static.localhost:8080/reports.js" defer></script>
<script src="http://static.localhost:8080/boardModeration.js" defer></script>
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <a href="http://localhost:8080" id="navLinkHome">Home</a>
    <a href="http://localhost:8080/boards.js" id="navBoardList">Boards</a>
    <a href="http://localhost:8080/overboard" id="navOverboard">Overboard</a>
    <!-- get this from static/navStatic.html -->
    <span id="navStatic"></span>
    <a href="http://archive.localhost:8080" id="navArchives">Archives</a>
    <a href="http://localhost:8080/logs.js" id="navLogs">Logs</a>
    <a href="http://localhost:8080/account.js" id="navAccount">Account</a>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">Help</a>
  </nav>

  <!-- page header -->
  <header>
    <img src="http://static.localhost:8080/logo.png" alt="Logo by Doke" />
  </header>
  
  <div class="settings">
    <h2 id="labelTitle"></h2>
    <p>Owner: <span id="labelOwner"></span></p>
  
    <p>Last seen: <span id="labelLastSeen"></span></p>
    <div>
        <form
            method="post"
            action="/transferBoardOwnership.js"
            enctype="multipart/form-data">
        <label>User login:
            <input
            type="text"
            name="login"
            id="fieldTransferLogin"
            name="userLogin">
        </label>
        <input
            type="hidden"
            name="boardUri"
            id="boardTransferIdentifier">
        <input
            type="submit"
            value="Transfer board"
            id="transferFormButton">
        <input
            type="button"
            onclick="transferBoard()"
            class="hidden"
            value="Transfer board"
            id="transferJsButton">
        </form>
    </div>
    <div>
        <form
            method="post"
            action="/deleteBoard.js"
            enctype="multipart/form-data">
        <label>
          <input
            type="checkbox"
            name="confirmDeletion"
            id="confirmDelCheckbox">
          Yes, I wish to delete this board
        </label>
        <input
          type="hidden"
          name="boardUri"
          id="boardDeletionIdentifier">
        <input
          type="submit"
          value="Delete board"
          id="deleteFormButton">
        <input
          type="button"
          onclick="deleteBoard()"
          class="hidden"
          value="Delete board"
          id="deleteJsButton">
        </form>
    </div>
  </div>
  
  <!-- footer, from static/footerInfo.html -->
  <footer>
    <div id="footerInfo">
    </div>
  </footer>

</body>
</html>
