<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/font-awesome.min.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
</head>
<body>
  
    <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a id="linkOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>
  
  <!-- page header -->
  <header>
    <img src="http://static.localhost:8080/logo.png" alt="logo" />
    <p class="red boardsHeader">Boards on localhost:8080</p>
  </header>
  
  <div id="boardsWrapper">
    <div id="divBoards">
      <div class="boardsCell boardsCellHeader">
        <span class="col1">Board</span>
        <span class="col2">Description</span>
        <span class="col3">PPH</span>
        <span class="col4">Posts</span>
        <span class="col5">IPs</span>
        <span class="col6">Tags</span>
      </div>
    </div>
    
    <div class="search">
      <span>Search</span>
      <form
        action="/boards.js"
        method="get">
          <input
            type="text"
            name="boardUri"
            placeholder="Name">
          <input
            type="text"
            name="tags"
            placeholder="Tags">
        <input
          type="submit"
          value="Search">
      </form>
      <span>Pages</span>
      <div id="divPages"></div>
    </div>
    
  </div>

</body>
</html>
