<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
</head>
<body>
  
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a id="linkOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>
  
  <header>
    <img src="http://static.localhost:8080/logo.png" alt="logo" />
  </header>
  
  <div id="boardsWrapper">
    <div id="divBoards">
      <div class="boardsCell" id="boardsCellHeader">
        <span class="col1">Board</span>
        <span class="col2">Description</span>
        <span class="col3">PPH</span>
        <span class="col4">Total Posts</span>
        <span class="col5">Unique IPs</span>
        <span class="col6">Tags</span>
      </div>
    </div>
    
    <div class="search">
      <span>Search</span>
      <form
        action="/boards.js"
        method="get">
          <input
            type="text"
            name="boardUri"
            placeholder="board"
            class="text">
          <input
            type="text"
            name="tags"
            placeholder="tags"
            class="text">
        <input
          type="submit"
          value="Search">
      </form>
      <span class="boardPages">[<div id="divPages"></div>]</span>
    </div>
    
  </div>

</body>
</html>
