<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/font-awesome.min.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.localhost:8080/settings.js" defer></script>
<script src="http://static.localhost:8080/api.js" defer></script>
<script src="http://static.localhost:8080/reports.js" defer></script>
<script src="http://static.localhost:8080/globalManagement.js" defer></script>
<script src="http://static.localhost:8080/bans.js" defer></script>
</head>
<body>
  <!-- page header -->
  <header>
    <img src="http://static.localhost:8080/logo.png" alt="logo" />
  </header>
  
  <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="http://localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>
  
  <!-- settings and forms -->
  <div class="settings">
    <p>Logged in as: <strong><span id="userLabel"></span></strong></p>
  </div>
  
  <div class="settings">
    <h3>Add user to global staff</h3>
    <form id="addStaffForm" method="post" enctype="multipart/form-data" action="/setGlobalRole.js">
      <label>Username:<input type="text" name="login" id="fieldLogin"></label>
      <label>Role:<select name="role" id="newStaffCombo"></select></label>
      <input type="submit" id="addFormButton" value="Add user">
      <input type="button" onClick="addUser()" class="hidden" id="addJsButton" value="Add user">
    </form>
  </div>
  
  <div id="divStaff" class="settings">
    <h3>Global Staff Tools</h3>
    <ul>
      <li><a id="globalSettingsLink" href="/globalSettings.js">Global Settings</a></li>
      <li><a id="globalBannersLink" href="/bannerManagement.js">Global Banners</a></li>
      <li><a id="archiveDeletionLink" href="/archiveDeletion.js">Archive deletion</a></li>
      <li><a id="bansLink" href="/bans.js"> Bans</a></li>
      <li><a id="rangeBansLink" href="/rangeBans.js">Range Bans</a></li>
      <li><a id="proxyBansLink" href="/proxyBans.js">Proxy Bans</a></li>
      <li><a id="hashBansLink" href="/hashBans.js">Hash Bans</a></li>
      <li><a href="/closedReports.js">Closed Reports</a></li>
    </ul>
  </div>
  
  <div id="reportDiv" class="settings">
    <h3>Open Reports</h3>
  </div>
  
  <div id="appealedBansPanel" class="settings">
    <h3>Appealed Bans</h3>
  </div>

</body>
</html>