<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="/.static/global.css" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/gif" href="/.static/favicon.gif" />
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="/.static/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>

  <header>
    <img src="/.static/logo.png" alt="logo" />
  </header>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend>Hash Banned File</legend>
      
      <p>You tried to upload one or more banned files</p>
      <div id="hashBansPanel"></div>
    </fieldset>
  </div>

</body>
</html>