<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
</head>
<body>

  <nav>
    <span>[</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="http://localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>

  <div id="indexWrapper">
    <div id="logoBox" class="title">
      <img src="http://static.localhost:8080/logo.png" alt="logo" />
    </div>
    
    <div id="infoBox" class="title">
      <p>Welcome to the shadows.</p>
    </div>
  
    <div id="divLatestImages"></div>
      
    <div id="divBoards" class="topBoards title"></div>
      
    <div id="divLatestPosts"></div>
      
    <div id="links" class="title">
      <span>[</span>
      <a href="http://localhost:8080/logs.js" id="linkLogs">logs</a>
      <span>/</span>
      <a href="http://archive.localhost:8080" id="linkArchives">archives</a>
      <span>/</span>
      <a href="http://localhost:8080/account.js" id="linkAccount">account</a>
      <span>/</span>
      <a href="http://static.localhost:8080/globalRules.html" id="linkGlobalRules">global rules</a>
      <span>/</span>
      <a href="http://static.localhost:8080/faq.html" id="linkFaq">F.A.Q.</a>
      <span>/</span>
      <a id="linkEngine"></a>
      <span>]</span>
    </div>
  </div>

</body>
</html>
