<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link href="/.static/global.css" type="text/css" rel="stylesheet" />
<link rel="icon" type="image/gif" href="/.static/favicon.gif" />
<script src="/.static/settings.js" defer></script>
<script src="/.static/api.js" defer></script>
<script src="/.static/login.js" defer></script>
</head>
<body>

  <nav>
    <span id="navLinkSpan">
      <span>[</span>
      <a href="//localhost:8080" id="navLinkHome">home</a>
      <span>/</span>
      <a href="/boards.js" id="navBoardList">boards</a>
      <span>/</span>
      <a href="/overboard" id="navOverboard">overboard</a>
      <span>/</span>
      <a href="/.static/posting.html" id="navPosting">help</a>
      <span>]</span>
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
    </span>
  </nav>

  <header>
    <img src="/.static/logo.png" alt="logo" />
  </header>
  
  <div id="settingsWrapper">
  
    <fieldset id="settingsFieldset">
    
      <legend class="title">Account</legend>
      <h3 class="title">Login</h3>
      
      <form
          action="/login.js"
          enctype="multipart/form-data"
          method="post">
          
        <input
          type="text"
          name="login"
          id="loginFieldLogin"
          placeholder="login">
          
        <input
          type="password"
          id="loginFieldPassword"
          name="password"
          placeholder="password">
        
        <input
          type="submit"
          id="loginFormButton"
          value="login">
          
        <input
          type="button"
          id="loginJsButton"
          onclick="loginUser()"
          value="login"
          class="hidden">
          
      </form>
      
      <div id="divCreation">
      
        <hr />
        <h3 class="title">Register</h3>
        
        <form
            action="/registerAccount.js"
            enctype="multipart/form-data"
            method="post">
            
          <input
            type="text"
            name="login"
            id="registerFieldLogin"
            placeholder="login">
            
          <input
            type="password"
            id="registerFieldPassword"
            name="password"
            placeholder="password">
            
          <input
            type="email"
            id="registerFieldEmail"
            name="email"
            placeholder="email">
            
          <img
            id="captchaImage"
            src="/captcha.js">
            
          <div class="captchaDiv">
              
            <input
              type="button"
              class="hidden"
              id="reloadCaptchaButton"
              onclick="reloadCaptcha()"
              value="reload">
              
            <input
              name="captcha"
              type="text"
              id="fieldCaptcha"
              placeholder="answer">
              
            <a
              class="small"
              href="/noCookieCaptcha.js">no cookies?</a>
              
          </div>
        
          <input
            type="submit"
            id="registerFormButton"
            value="register">
            
          <input
            type="button"
            id="registerJsButton"
            onclick="registerAccount()"
            value="register"
            class="hidden">
            
        </form>
        <hr />
        
      </div>
      
      <div id="divRecover">
        <h3 class="title">Recover Account</h3>
        <form
            action="/requestAccountRecovery.js"
            enctype="multipart/form-data"
            method="post">
            
          <input
            type="text"
            name="login"
            id="recoverFieldLogin"
            placeholder="login">
            
          <img
            id="captchaImageRecover"
            src="/captcha.js">
            
          <div class="captchaDiv">
          
            <input
              type="button"
              id="reloadCaptchaButtonRecover"
              onclick="reloadCaptcha()"
              value="reload">
              
            <input
              name="captcha"
              type="text"
              id="fieldCaptchaRecover"
              placeholder="answer">
              
            <a
              class="small"
              href="/noCookieCaptcha.js">no cookies?</a>
              
          </div>
          
          <input
            type="submit"
            id="recoverFormButton"
            value="request recovery">
            
          <input
            type="button"
            id="recoverJsButton"
            onclick="recoverAccount()"
            value="request recovery"
            class="hidden">
            
        </form>
        
      </div>
      
    </fieldset>
    
  </div>

</body>
</html>