<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.localhost:8080/settings.js" defer></script>
<script src="http://static.localhost:8080/api.js" defer></script>
<script src="http://static.localhost:8080/rangeBans.js" defer></script>
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="http://localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>

  <!-- page header -->
  <header>
    <img src="http://static.localhost:8080/logo.png" alt="logo" />
  </header>
  
  <div class="settings">
    <form
        action="/placeRangeBan.js"
        method="post"
        enctype="multipart/form-data">
      <label>Range to be banned:
        <input
          type="text"
          name="range"
          id="rangeField">
      </label>
      <input
        id="boardIdentifier"
        type="hidden"
        name="boardUri">
      <img
        id="captchaImage"
        src="/captcha.js">
      <div>
        <input
          type="button"
          class="hidden"
          id="reloadCaptchaButton"
          onclick="reloadCaptcha()"
          value="Reload">
        <input
          name="captcha"
          type="text"
          id="fieldCaptcha"
          placeholder="Answer">
        <a
          class="finePrint"
          href="/noCookieCaptcha.js">No cookies?</a>
      </div>
      <input
        type="submit"
        id="createFormButton"
        value="Place Range Ban">
      <input
        type="button"
        id="createJsButton"
        onClick="placeRangeBan()"
        class="hidden"
        value="Place Range Ban">
    </form>
    <div id="rangeBansDiv"></div>
  </div>

</body>
</html>