<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="//static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="//static.localhost:8080/open-iconic.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="//static.localhost:8080/settings.js" defer></script>
<script src="//static.localhost:8080/api.js" defer></script>
<script src="//static.localhost:8080/ruleManagement.js" defer></script>
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="//localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="//localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="//localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="//static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>
  
  <div class="settings">
    <h3>New rule</h3>
    <form
        action="/createRule.js"
        method="post"
        enctype="multipart/form-data">
      <input
        type="hidden"
        name="boardUri"
        id="boardIdentifier">
      <input
        type="text"
        name="rule"
        id="fieldRule">
      <input
        type="submit"
        value="Add Rule"
        id="addFormButton">
      <input
        type="button"
        onClick="addRule()"
        class="hidden"
        value="Add Rule"
        id="addJsButton">
    </form>
    <h3>Current rules</h3>
    <div id="divRules"></div>
  </div>

</body>
</html>