<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.localhost:8080/global.css" type="text/css" rel="stylesheet" />
<link href="http://static.localhost:8080/font-awesome.min.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.localhost:8080/settings.js" defer></script>
<script src="http://static.localhost:8080/api.js" defer></script>
<script src="http://static.localhost:8080/thread.js" defer></script>
<script src="http://static.localhost:8080/posting.js" defer></script>
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <span>[</span>
    <a href="http://localhost:8080" id="navLinkHome">home</a>
    <span>/</span>
    <a href="http://localhost:8080/boards.js" id="navBoardList">boards</a>
    <span>/</span>
    <a href="http://localhost:8080/overboard" id="navOverboard">overboard</a>
    <span>/</span>
    <a href="http://static.localhost:8080/posting.html" id="navPosting">help</a>
    <span>]</span>
  </nav>


  <!-- board header -->
  <header class="boardHeader">
    <img id="bannerImage" />
    <p id="labelName"></p>
    <p id="labelDescription"></p>
    <p><a id="linkManagement">Manage Board</a></p>
    <p><a id="linkMod">Moderate Thread</a></p>
  </header>
  
  <!-- new thread box -->
  <div id="postBox">
    <form
      class="form-post"
      action="../replyThread.js"
      enctype="multipart/form-data"
      method="post">
    <table>
    
      <tr>
        <th>Name</th>
        <td>
          <div id="divName">
            <input
            type="text"
            id="fieldName"
            name="name">
          </div>
        </td>
      </tr>
      
      <tr>
        <th>Email</th>
        <td>
          <input
            type="text"
            id="fieldEmail"
            name="email">
        </td>
      </tr>
      
      <tr>
        <th>Subject</th>
        <td>
          <input
            type="text"
            id="fieldSubject"
            name="subject">
        </td>
      </tr>
      
      <tr>
        <th>Comment</th>
        <td>
          <textarea
            id="fieldMessage"
            name="message"></textarea>
        </td>
      </tr>
      
      <tr>
        <th>Password</th>
        <td>
          <input
            type="password"
            name="password"
            id="fieldPostingPassword">
        </td>
      </tr>
      
      <tr>
        <th>File(s)</th>
          <td>
            <input
              type="file"
              name="files"
              id="files"
              multiple>
          </td>
      </tr>
      
     <tr>
       <td>
         <div id="flagsDiv">
         <select
           name="flag" 
           id="flagCombobox">
           </select>
         </div>
       </td>
       <td>
         <label>
           <input
             type="checkbox"
             name="spoiler"
              id="checkboxSpoiler">
              Spoiler
          </label>
        </td>
      </tr>
    </table>
    
    <div id="captchaDiv">
      <img src="/captcha.js"
        id="captchaImage" />
      <div>
      <input
        name="captcha"
        type="text"
        id="fieldCaptcha"
        placeholder="Answer">
      <input
        type="button"
        onClick="reloadCaptcha()"
        value="Reload"
        id="reloadCaptchaButton"
        class="hidden">
      <a href="/noCookieCaptcha.js" class="small">No cookies?</a>
      </div>
    </div>
    <button
      type="submit"
      id="formButton">
      Reply
    </button>
    <button
      type="button"
      onClick="postReply()"
      id="jsButton"
      class="hidden">
      Reply
    </button>
    <input
      type="hidden"
      name="boardUri"
      id="boardIdentifier">
    <input
      type="hidden"
      name="threadId"
      id="threadIdentifier">
    <p class="small">Remember to follow the <a href="../rules.html">rules</a></p>
    <p class="small">Max file size: <span id="labelMaxFileSize"></span></p>
    </form>
  </div>
  
  <!-- controls for managing thread -->
  <div id="divControls">
    <form
      action="/changeThreadSettings.js"
      method="post"
      enctype="multipart/form-data">
      <label><input
        name="lock"
        id="checkboxLock"
        type="checkbox">
        Lock
      </label>
      <label><input
        name="pin"
        id="checkboxPin"
        type="checkbox">
        Pin
      </label>
      <label><input
        type="checkbox"
        name="cyclic"
        id="checkboxCyclic">
        Cyclic
      </label>
      <input
        type="hidden"
        name="boardUri"
        id="controlBoardIdentifier">
      <input
        type="hidden"
        name="threadId"
        id="controlThreadIdentifier">
      <input
        type="submit"
        id="settingsFormButon"
        value="Save">
      <input
        type="button"
        id="settingsJsButon"
        onClick="saveThreadSettings()"
        class="hidden"
        value="Save">
    </form>
  </div>
  
  <!-- message panel -->
  <div id="panelMessage">
    <hr>
    <div id="divMessage">
    </div>
    <hr>
  </div>
  
  <!-- posts, much of the naming is shared with the thread list from the board page -->
  <div id="threadList">
    <form
      method="post"
      action="../../contentActions.js"
      enctype="multipart/form-data">
      <!-- this is actually where the posts are -->
      <div id="divThreads">
      </div>
      <!-- refresh timer -->
      <div class="divRefresh hidden">
        <label><input
          type="checkbox"
          checked
          onchange="changeRefresh()">
          Auto <span id="labelRefresh"></span>
        </label>
        <input
          type="button"
          id="refreshButton"
          onclick="refreshPosts(true)"
          value="Refresh">
      </div>
      <!-- ban/report/delete/transfer controls -->
      <div class="contentAction">
        <label>Reason<input
          type="text"
          id="reportFieldReason"
          name="reason">
        </label>
        <div id="divBanInput">
        <label>Expiration:<input
          type="text"
          id="fieldExpiration"
          name="expiration">
        </label>
        <label>Ban message:<input
          type="text"
          id="fieldbanMessage"
          name="banMessage">
        </label>
        </div>
        <label>Password:<input
          type="password"
          id="deletionFieldPassword"
          name="password">
        </label>
        <label><input
          type="checkbox"
          id="checkboxGlobal"
          name="global">
          Global
        </label>
        <label><input
          type="checkbox"
          id="checkboxOnlyFiles"
          name="deleteUploads">
          Delete only files
        </label>
        <img
          id="captchaImageReport"
          src="/captcha.js">
        <input
          type="button"
          class="hidden"
          id="reloadCaptchaButtonReport"
          onclick="reloadCaptcha()"
          value="Reload">
        <input
          name="captcha"
          type="text"
          id="fieldCaptchaReport"
          placeholder="Answer">
        <a class="finePrint" href="/noCookieCaptcha.js">No cookies?</a>
        <div class="buttonBox">
        <input
          type="submit"
          id="deleteFormButton"
          value="Delete"
          name="action">
        <input
          type="button"
          class="hidden"
          id="deleteJsButton"
          onClick="deletePosts()"
          value="Delete">
        <input
          type="submit"
          id="inputBan"
          value="Ban"
          name="action">
        <input
          type="button"
          class="hidden"
          id="banJsButton"
          onClick="banPosts()"
          value="Ban">
        <button
          type="submit"
          id="inputSpoil"
          value="spoil"
          name="action">Spoil files</button>
        <input
          type="button"
          class="hidden"
          id="spoilJsButton"
          onClick="spoilFiles()"
          value="Spoil files">
        <input
          type="submit"
          id="reportFormButton"
          value="Report"
          name="action">
        <input
          type="button"
          class="hidden"
          id="reportJsButton"
          onClick="reportPosts()"
          value="Report">
        </div>
      </div>
    </form>
  </div>
  
  <!-- thread transfer controls -->
  <div id="transferControls">
    <form
      action="/transferThread.js"
      enctype="multipart/form-data"
      method="post"
      id="formTransfer"
      class="formTransfer">
      <p>Transfer to different board</p>
      <input
        type="hidden"
        name="boardUri"
        id="transferBoardIdentifier">
      <input
        type="hidden"
        name="threadId"
        id="transferThreadIdentifier">
      <label>Destination board:<input
        type="text"
        id="fieldDestinationBoard"
        name="boardUriDestination">
      </label>
      <input
        type="submit"
        id="transferFormButton"
        value="Transfer thread">
      <input
        type="button"
        class="hidden"
        onclick="transfer()"
        id="transferJsButton"
        value="Transfer thread">
    </form>
  </div>
  
  <!-- ip deletion controls -->
  <div id="ipDelete">
    <form
      id="ipDeletionForm"
      method="post"
      action="/deleteFromIp.js"
      enctype="multipart/form-data">
      <p>Delete all from IP</p>
      <label> Non-hashed ip:<input
        type="text"
        name="ip"
        id="ipField">
      </label>
      <label>Delete only from these boards(Ex:"b v", leaving blank will delete from all boards)<input
        type="text"
        name="boards"
        id="fieldBoards">
      </label>
      <input
        type="button"
        value="Delete"
        onclick="deleteFromIp()"
        id="deleteFromIpJsButton"
        class="hidden">
      <input
        value="Delete"
        type="submit"
        id="deleteFromIpFormButton">
    </form>
  </div>

</body>
</html>