<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.hambubger.com/global.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.hambubger.com/settings.js" async></script>
<script src="http://static.hambubger.com/api.js" async></script>
<script src="http://static.hambubger.com/account.js" async></script>
</head>
<body>
  
  <!-- top of page navigation bar -->
  <nav>
    <a href="http://hambubger.com" id="navLinkHome">Home</a>
    <a href="http://hambubger.com/boards.js" id="navBoardList">Boards</a>
    <a href="http://hambubger.com/overboard" id="navOverboard">Overboard</a>
    <!-- get this from static/navStatic.html -->
    <span id="navStatic"></span>
    <a href="http://archive.hambubger.com" id="navArchives">Archives</a>
    <a href="http://hambubger.com/logs.js" id="navLogs">Logs</a>
    <a href="http://hambubger.com/account.js" id="navAccount">Account</a>
    <a href="http://static.hambubger.com/posting.html" id="navPosting">Help</a>
  </nav>
  
  <!-- page header -->
  <header>
    <img src="http://static.hambubger.com/logo.png" alt="Logo by Doke" />
  </header>
  
  <!-- account settings and forms -->
  <div class="settings">
    <h3>Logged in as: <span id="labelLogin"></span></h3>
    <form action="/logout.js">
      <input id="logoutFormButton" type="submit" value="Logout">
      <input type="button" id="logoutJsButton" onClick="logout()" value="Logout" class="hidden">
    </form>
    <a href="/globalManagement.js" id="globalManagementLink">Global Management</a>
  </div>
  
  <div class="settings">
    <h3>Settings</h3>
    <form action="/changeAccountSettings.js" method="post" enctype="multipart/form-data">
      <label>E-mail:<input type="email" name="email" id="emailField"></label>
      <label><input type="checkbox" name="alwaysSignRole" id="checkboxAlwaysSign">Always use role signature</label>
      <label><input type="checkbox" name="lockEnabled" id="checkboxLock">Lock account for 24 hours after too many failed login attempts</label>
      <br />
      <p>If you entered an email you will receive a link to unlock it immediately</p>
      <input type="submit" value="Save" id="saveFormButton">
      <input type="button" onClick="save()" value="Save" id="saveJsButton" class="hidden">
    </form>
  </div>
  
  <div class="settings">
    <h3>Password Change</h3>
    <form action="/changeAccountPassword.js" method="post" enctype="multipart/form-data">
      <label>Current Password:<input type="password" name="password" id="fieldPassword"></label>
      <label>New Password:<input type="password" name="newPassword" id="fieldNewPassword"></label>
      <label>Confirm New Password:<input type="password" name="confirmation" id="fieldConfirmationd"></label>
      <input type="submit" value="Change password" id="passwordFormButton">
      <input type="button" onClick="changePassword()" value="Change password" id="passwordJsButton" class="hidden">
    </form>
  </div>
  
  <div class="settings" id="boardsDiv">
    <h3>Owned Boards</h3>
  </div>
  
  <div class="settings" id="boardCreationDiv">
    <h3>Create Board</h3>
    <form action="/createBoard.js" enctype="multipart/form-data" method="post">
      <label>Board URI:<input type="text" name="boardUri" id="newBoardFieldUri"></label>
      <label>Board Name:<input type="text" name="boardName" id="newBoardFieldName"></label>
      <label>Board Description:<input type="text" name="boardDescription" id="newBoardFieldDescription"></label>
      <img src="/captcha.js" id="captchaImage" />
      <div>
        <input 
          type="button" 
          onClick="reloadCaptcha()" 
          value="Reload" 
          id="reloadCaptchaButton" 
          class="hidden">
        <input type="text" name="captcha" id="fieldCaptcha" placeholder="Answer">
        <a href="/noCookieCaptcha.js" class="small">No Cookies?</a>
      </div>
      <input 
        type="submit" 
        value="Create Board" 
        id="newBoardFormButton">
      <input 
        type="button" 
        onClick="createBoard()" 
        value="Create Board" 
        id="newBoardJsButton" 
        class="hidden">
    </form>
  </div>
  
  <!-- footer, from static/footerInfo.html -->
  <footer>
    <div id="footerInfo">
    </div>
  </footer>

</body>
</html>