<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.hambubger.com/global.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.hambubger.com/settings.js" async></script>
<script src="http://static.hambubger.com/api.js" async></script>
<script src="http://static.hambubger.com/archiveDeletion.js" async></script>
</head>
<body>
  
  <!-- top of page navigation bar -->
  <nav>
    <a href="http://hambubger.com" id="navLinkHome">Home</a>
    <a href="http://hambubger.com/boards.js" id="navBoardList">Boards</a>
    <a href="http://hambubger.com/overboard" id="navOverboard">Overboard</a>
    <!-- get this from static/navStatic.html -->
    <span id="navStatic"></span>
    <a href="http://archive.hambubger.com" id="navArchives">Archives</a>
    <a href="http://hambubger.com/logs.js" id="navLogs">Logs</a>
    <a href="http://hambubger.com/account.js" id="navAccount">Account</a>
    <a href="http://static.hambubger.com/posting.html" id="navPosting">Help</a>
  </nav>
  
  <!-- page header -->
  <header>
    <img src="http://static.hambubger.com/logo.png" alt="Logo by Doke" />
  </header>
  
  <!-- settings for deleting archives -->
  <div class="settings">
    <form action="/deleteArchivedBoard.js" method="post" enctype="multipart/form-data">
      <h3>Delete Entire Board</h3>
      <label>Board URI:<input type="text" name="boardUri" id="boardBoardField"></label>
      <input type="submit" value="Delete Board" id="boardFormButton">
      <input type="button" onClick="deleteBoard()" value="Delete Board" id="boardJsButton" class="hidden">
    </form>
  </div>
  
  <div class="settings">
  <form action="/deleteArchivedThread.js" method="post" enctype="multipart/form-data">
    <h3>Delete Thread</h3>
      <label>Board URI:<input type="text" name="boardUri" id="threadBoardField"></label>
      <label>Thread ID:<input type="text" name="threadId" id="threadThreadField"></label>
      <input type="submit" value="Delete Thread" id="threadFormButton">
      <input type="button" onClick="deleteThread()" value="Delete Thread" id="threadJsButton" class="hidden">
    </form>
  </div>
  
  <div class="settings">
  <form action="/deleteArchivedUpload.js" method="post" enctype="multipart/form-data">
    <h3>Delete Files</h3>
      <label>Board URI:<input type="text" name="boardUri" id="fileBoardField"></label>
      <label>File Name (ex. file1.png<sup>*</sup>):<input type="text" name="filename" id="fileFileField"></label>
      <input type="submit" value="Delete File(s)" id="fileFormButton">
      <input type="button" onClick="deleteFile()" value="Delete File(s)" id="fileJsButton" class="hidden">
      <p><sup>*</sup> Thumbnails must be deleted as separate files, you can separate files using commas</p>
    </form>
  </div>
  
  <!-- footer, from static/footerInfo.html -->
  <footer>
    <div id="footerInfo">
    </div>
  </footer>

</body>
</html>