<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to your CSS here -->
<link href="http://static.hambubger.com/global.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
<!-- link to any scripts you need here -->
<script src="http://static.hambubger.com/settings.js" async></script>
<script src="http://static.hambubger.com/api.js" async></script>
<script src="http://static.hambubger.com/reports.js" async></script>
<script src="http://static.hambubger.com/globalManagement.js" async></script>
<script src="http://static.hambubger.com/bans.js" async></script>
</head>
<body>
  <!-- page header -->
  <header>
    <img src="http://static.hambubger.com/logo.png" alt="Logo by Doke" />
  </header>
  
  <!-- top of page navigation bar -->
  <nav>
    <a href="http://hambubger.com" id="navLinkHome">Home</a>
    <a href="http://hambubger.com/boards.js" id="navBoardList">Boards</a>
    <a href="http://hambubger.com/overboard" id="navOverboard">Overboard</a>
    <!-- get this from static/navStatic.html -->
    <span id="navStatic"></span>
    <a href="http://archive.hambubger.com" id="navArchives">Archives</a>
    <a href="http://hambubger.com/logs.js" id="navLogs">Logs</a>
    <a href="http://hambubger.com/account.js" id="navAccount">Account</a>
    <a href="http://static.hambubger.com/posting.html" id="navPosting">Help</a>
  </nav>
  
  <!-- settings and forms -->
  <div class="settings">
    <p>Logged in as: <strong><span id="userLabel"></span></strong></p>
  </div>
  
  <div class="settings">
    <h3>Add user to global staff</h3>
    <form id="addStaffForm" method="post" enctype="multipart/form-data" action="/setGlobalRole.js">
      <label>Username:<input type="text" name="login" id="fieldLogin"></label>
      <label>Role:<select name="role" id="newStaffCombo"></select></label>
      <input type="submit" id="addFormButton" value="Add user">
      <input type="button" onClick="addUser()" class="hidden" id="addJsButton" value="Add user">
    </form>
  </div>
  
  <div id="divStaff" class="settings">
    <h3>Global Staff Tools</h3>
    <ul>
      <li><a id="globalSettingsLink" href="/globalSettings.js">Global Settings</a></li>
      <li><a id="globalBannersLink" href="/bannerManagement.js">Global Banners</a></li>
      <li><a id="archiveDeletionLink" href="/archiveDeletion.js">Archive deletion</a></li>
      <li><a id="bansLink" href="/bans.js"> Bans</a></li>
      <li><a id="rangeBansLink" href="/rangeBans.js">Range Bans</a></li>
      <li><a id="proxyBansLink" href="/proxyBans.js">Proxy Bans</a></li>
      <li><a id="hashBansLink" href="/hashBans.js">Hash Bans</a></li>
      <li><a href="/closedReports.js">Closed Reports</a></li>
    </ul>
  </div>
  
  <div id="reportDiv" class="settings">
    <h3>Open Reports</h3>
  </div>
  
  <div id="appealedBansPanel" class="settings">
    <h3>Appealed Bans</h3>
  </div>
  
  <!-- footer, from static/footerInfo.html -->
  <footer>
    <div id="footerInfo">
    </div>
  </footer>

</body>
</html>