<!DOCTYPE html>
<html>
<head>
<!-- add metadata about your site here -->
<meta charset="UTF-8" />
<!-- link to any scripts you need here -->
<script></script>
<!-- link to your CSS here -->
<link href="http://static.hambubger.com/global.css" type="text/css" rel="stylesheet" />
<!-- don't add a title, the engine already does that for you -->
</head>
<body>

  <!-- top of page navigation bar -->
  <nav>
    <a href="http://hambubger.com" id="navLinkHome">Home</a>
    <a href="http://hambubger.com/boards.js" id="navBoardList">Boards</a>
    <a href="http://hambubger.com/overboard" id="navOverboard">Overboard</a>
    <a href="http://archive.hambubger.com" id="navArchives">Archives</a>
    <a href="http://hambubger.com/logs.js" id="navLogs">Logs</a>
    <a href="http://hambubger.com/account.js" id="navAccount">Account</a>
    <a href="http://static.hambubger.com/posting.html" id="navPosting">Help</a>
  </nav>

  <!-- page header -->
  <header>
    <h1>HambubgerChan</h1>
    <img src="http://static.hambubger.com/logo.png" alt="Logo by Doke" />
    <h2>This is just a demo of my front-end</h2>
  </header>
  
  <!-- main content goes here, you want to replace this with something relevant to your site -->
  <div class="indexInfoTop">
    <h3>Why should I adopt LynxChan?</h3>
    <hr />
    <ul>
      <li>It's not PHP</li>
      <li>Not made by a lolcow</li>
      <li>Does not require external javascript</li>
      <li>Does not require users to run javascript</li>
    </ul>
  </div>
  <div class="indexInfoBottom">
        <a href="http://static.hambubger.com/moderation.html">Moderation Manual</a>
        <span>IRC: #lynxchan@rizon.net</span>
        <a href="http://opensource.org/licenses/MIT">MIT License</a>
        <a id="linkEngine"></a>
  </div>
  
  <!-- board list -->
  <div id="divBoards" class="topBoards">
    <h3>Top Boards</h3>
  </div>
  
  <!-- latest posts -->
  <div id="divLatestPosts">
    <h3>Latest Posts</h3>
  </div>
 
 <!-- latest images -->
  <div id="divLatestImages">
    <h3>Latest Images</h3>
  </div>
  
  <!-- footer, from static/footerInfo.html -->
  <footer>
    <div id="footerInfo">
    </div>
  </footer>
  
</body>
</html>
