<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
  rel="stylesheet"
  type="text/css"
  href="http://static.hambubger.com/global.css">
</head>
<body>

  <!-- page header -->
  <header>
    <img src="http://static.hambubger.com/logo.png" alt="Logo by Doke" />
  </header>
  
  <!-- redirect message -->
  <div id="redirect">
    <h4 id="labelMessage"></h4>
    <p>If you are not redirected within 3 seconds, click <a id="linkRedirect">here</a> to be redirected.</p>
  </div>
  
</body>
</html>
